<div class="page-container" fxLayout="column" fxLayoutAlign="start center">
    <div class="activities-header" fxLayoutAlign="space-between center">
        <h2 class="activities-header__title">Recent Activity</h2>
        <a class="btn-text" (click)="removeAllActivities()">clear all</a>
    </div>
    <div class="activities-container">
        <div class="activity__items" fxLayout="column" fxLayoutAlign="start center" appInfiniteScroll [appScrollTriggerOnce]="true" [scrollOffset]="2000" (scrollPosition)="onPositionChange()">
            <span *ngIf="!page?.data?.length && !isLoading">You have no recent activity</span>
            <div (appear)="appear($event, activity)" class="activity-container" [ngClass]="{ 'unread' : !activity.isMarkedAsRead }" *ngFor="let activity of page?.data; let index = index;">
                <div class="activity__item" fxLayout="row" fxLayoutAlign="start start">
                    <a [routerLink]="[ '/', activity.user.username]">
                        <img class="activity__avatar" src="{{activity.user.pictureUri}}" alt="user-thumbnail">
                    </a>
                    <div class="activity-info" fxLayout="row" fxLayoutAlign="space-between start">
                        <div fxLayout="column" fxLayoutAlign="start start">
                            <div fxLayout="column">
                                <span>
                                    <a [routerLink]="[ '/', activity.user.username]">{{activity.user.username}}</a> {{activity.activityType | activity}}
                                </span>
                                <span class="activity__date" matTooltip="{{activity.date | date: 'fullDate'}}" matTooltipPosition="after">{{activity.date | timeAgo}}</span>
                            </div>
                            <div class="activity__comment" *ngIf="activity.comment">
                                <span class="activity__comment__text" [innerHTML]="activity.comment.text | truncate:100 | linkify"></span>
                            </div>
                            <a class="btn-remove" (click)="removeActivity(index, activity)">Remove</a>
                        </div>
                        <a class="activity__media" mat-ripple *ngIf="activity.media" (click)="openMedia(activity.media)">
                            <img class="activity__media__thumbnail" *ngIf="!activity.media.attachments[0].type" src="{{activity.media.attachments[0].uri}}" alt="media">
                            <video class="activity__media__thumbnail" *ngIf="activity.media.attachments[0].type">
                                <source src="{{activity.media.attachments[0].uri}}">
                            </video>
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer" fxLayout="row" fxLayoutAlign="center center" *ngIf="page?.hasMoreItems">
                <mat-spinner [diameter]="30" [strokeWidth]="2" color="primary" *ngIf="isLoading"></mat-spinner>
            </div>
        </div>
    </div>
</div>
