.activities-header {
    max-width: 960px;
    width: 100%;
    padding-bottom: 2.8rem;
}

.activities-header__title {
    font-weight: lighter;
}

.activities-container {
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
    overflow-y: hidden;
    color: rgb(0, 0, 0, .86);
    background: white;
    position: relative;
}

.activities-container .header .btn-default {
    font-weight: bold;
}

.activity__items {
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
}

.activity-container {
    width: 100%;
    box-sizing: border-box;
    border-radius: 7px;
    margin-bottom: .7rem;
    position: relative;
    -webkit-transition: background-color 1s ease-in-out;
    -moz-transition: background-color 1s ease-in-out;
    -ms-transition: background-color 1s ease-in-out;
    -o-transition: background-color 1s ease-in-out;
    transition: background-color 1s ease-in-out;
}

.activity-container.unread {
    background-color: rgb(243, 243, 245);
}

.activity__item {
    width: 100%;
}

.activity__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.activity__comment {
    width: 100%;
    border-left: 3px solid #e91e63;
    padding: .25rem .5rem;
    box-sizing: border-box;
    margin-top: 1.4rem;
}

.activity__comment__text {
    font-weight: normal;
    color: rgb(0, 0, 0, .65)
}

.activity__media {
    position: relative;
}

.activity__media__thumbnail {
    width: 135px;
    height: 100px;
    object-fit: cover;
    border-radius: 2px;
}

.activity__item .activity-info {
    color: rgb(0, 0, 0, .65);
    padding-left: .7rem;
    font-size: .9em;
    line-height: 1.7;
    width: 100%;
}

.activity__item .activity-info a {
    color: rgb(0, 0, 0, .86);
    font-weight: bold;
}

.activity__date {
    color: rgb(0, 0, 0, .65);
    margin: 0 auto 0 0;
    font-weight: lighter;
}

.activities-container .footer {
    margin-top: 1.4rem;
    width: 100%;
    height: 40px;
}

.activities-container .footer button {
    width: 100%;
}

.activity__item .hover {
    opacity: 0;
}

.activity:hover .hover {
    opacity: 1;
}

.activity__item .activity-info a.btn-remove {
    color: rgba(220, 20, 60, .65);
    cursor: pointer;
    font-weight: bold;
}

.activity__item .activity-info a.btn-remove:hover {
    color: rgba(220, 20, 60, .5);
}
