<div fxLayout="column" fxLayoutAlign="start center">
    <div class="user-search-container" fxLayout="column">
        <div class="user-search-header" fxLayout="row" fxLayoutAlign="space-between center">
            <h1 class="user-search-title">Discover People</h1>
            <button mat-icon-button [disabled]="isLoading" (click)="refresh()">
                <mat-icon class="btn-icon mat-24" [ngClass]="{ 'disabled' : isLoading }" svgIcon="refresh"></mat-icon>
            </button>
        </div>
        <div class="search-results-container" [@listAnimation]="page.data.length">
            <div class="search-result" *ngFor="let user of page.data" fxLayout="row" fxLayoutAlign="start center" style="margin-top:20px;">
                <a [routerLink]="['/', user.username]">
                    <img src="{{user.pictureUri}}" default="assets/images/user-default-image.png" alt="profile">
                </a>
                <div class="search-result-user-details" fxLayout="row" fxLayoutAlign="space-between start" fxFlex>
                    <div fxLayout="column">
                        <a class="search-result-username" [routerLink]="['/', user.username]">{{user.username}}</a>
                        <span class="search-result-last-active" *ngIf="user.lastActive" matTooltip="{{user.lastActive | date:'fullDate'}}" matTooltipPosition="after">{{user.lastActive | timeAgo | lowercase}}</span>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center end">
                        <button class="btn-relationships" mat-button (click)="modifyRelationship(user)" [disabled]="modifying[user.id]" *ngIf="currentUser && currentUser.isActive && currentUser.id !== user.id">
                            {{user.relationship.outgoingStatus | relationshipAction | uppercase}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" *ngIf="page.hasMoreItems" style="border-top: 1px solid #efefef; padding-top: 1.4rem;">
            <button class="btn-primary" mat-button (click)="getUsers()" [disabled]="isLoading">Load More</button>
        </div>
    </div>
</div>
