@media screen and (max-width: 500px) {
    .user-search-container {
        padding: 0 .7rem;
    }
}

@media screen and (min-width: 501px) {
    .user-search-container {
        padding: 1.4rem;
        box-shadow: 0 3px 8px -3px rgba(0, 0, 0, 0.26);
        border-radius: 2px;
    }
}

.user-search-container {
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
    color: rgb(0, 0, 0, .85);
}

.user-search-header {
    padding-bottom: 1.4rem;
}

.search-results-container>.search-result {
    margin: 1rem 0;
}

.search-result img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    outline: none;
    cursor: pointer;
}

.search-result-user-details {
    margin-left: .7rem;
    line-height: 1.2;
}

.search-result-username {
    width: 110px;
    padding-bottom: .5rem;
    font-weight: 900;
}

.search-result-last-active {
    color: rgba(0, 0, 0, .65);
    font-weight: normal;
    font-size: .9em;
}
