.user-search-container {
    width: 600px;
    padding: 1.4rem;
    background: white;
    box-sizing: border-box;
    box-shadow: 0 3px 8px -3px rgba(0, 0, 0, 0.26);
}

.user-search-title {
    font-size: 1.4em;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgb(0,0,0,85);
}

.search-results-container>.search-result {
    margin: 1rem 0;
}

.search-result img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    outline: none;
    cursor: pointer;
}

.search-result-user-details {
    margin-left: .7rem;
    line-height: 1.2;
}

.search-result-username {
    color: rgb(0,0,0,85);
    padding-bottom: .5rem;
    font-weight: 900;
}

.search-result-last-active {
    color: #9A9A9A;
    font-weight: normal;
    font-size: .9em;
}
