<div class="page-container" fxLayout="column" fxLayoutAlign="start center">
    <div class="users-header" fxLayoutAlign="space-between center">
        <h2 class="users-header__title">Discover People</h2>
        <mat-button-toggle-group name="orderBy" (change)="orderByChanged($event.value)">
            <mat-button-toggle [checked]="orderBy == 'id'" value="id">NEW</mat-button-toggle>
            <mat-button-toggle [checked]="orderBy == 'lastActive'" value="lastActive">LAST ACTIVE</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <div class="users__items" appInfiniteScroll [appScrollTriggerOnce]="true" [scrollOffset]="1000" (scrollPosition)="onPositionChange()">
        <div class="users__item" *ngFor="let user of page.data; let index = index;" fxLayout="row" fxLayoutAlign="start center">
            <a [routerLink]="['/', user.username]">
                <img class="users__item__thumbnail" src="{{user.pictureUri}}" default="assets/images/user-default-image.png" alt="profile">
            </a>
            <div class="users__item__details" fxLayout="row" fxLayoutAlign="space-between start" fxFlex>
                <div fxLayout="column">
                    <a class="users__item__details__username" [routerLink]="['/', user.username]">{{user.username}}</a>
                    <span class="users__item__details__date" *ngIf="user.lastActive" matTooltip="{{ user.lastActive | date:'fullDate' }}" matTooltipPosition="after">{{user.lastActive | timeAgo | lowercase}}</span>
                </div>
                <button class="btn-relationships" mat-button (click)="modifyRelationship(user)" [disabled]="modifying[user.id]" *ngIf="currentUser && currentUser.isActive && currentUser.id !== user.id">
                    {{user.relationship.outgoingStatus | relationshipAction | uppercase}}
                </button>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" *ngIf="page.hasMoreItems" style="padding-top: 1.4rem;">
            <button class="btn-primary" mat-button (click)="getUsers()" [disabled]="isLoading">Load More</button>
        </div>
    </div>
</div>
