@media screen and (max-width: 500px) {
    .users-header {
        flex-direction: column !important;
        align-items: start !important;
    }

    .users-header__title {
        padding-bottom: 1.4rem;
    }

    .mat-button-toggle-group,
    .mat-button-toggle-standalone {
        box-shadow: 0 3px 8px -4px rgba(0, 0, 0, 0.26);
        width: 100%;
    }

    .mat-button-toggle {
        width: 100%;
        text-align: center;
    }
}

.users-header {
    max-width: 960px;
    width: 100%;
    padding-bottom: 2.8rem;
}

.users-header__title {
    font-weight: lighter;
}

.users-header button.active {
    background-color: crimson;
    color: rgba(255, 255, 255, .86);
}

.users__items {
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
    color: rgb(0, 0, 0, .86);
}

.users__item {
    padding-bottom: 1.4rem;
}

.users__item__thumbnail {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.users__item__details {
    margin-left: .7rem;
    line-height: 1.5;
}

.users__item__details__username {
    width: 110px;
    font-weight: bold;
}

.users__item__details__date {
    margin: 0 auto 0 0;
    color: rgba(0, 0, 0, .65);
    font-weight: normal;
    font-size: .9em;
    cursor: pointer;
}

.users__item__details__date:hover {
    text-decoration: underline;
}

.mat-button-toggle-group,
.mat-button-toggle-standalone {
    box-shadow: 0 3px 8px -4px rgba(0, 0, 0, 0.26);
}

::ng-deep .mat-button-toggle-button {
    min-width: 120px;
}

.mat-button-toggle-checked {
    background-color: crimson;
    color: rgba(255, 255, 255, .86);
}
