textarea {
    resize: none;
}

.media {
    background-color: white;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 3px 8px -3px rgba(0, 0, 0, 0.26);
}

.media-header {
    padding: 10px;
    width: 100%;
}

.media-footer {
    padding: 15px 15px 0px 15px;
}

.media-edit-footer {
    padding: 15px 15px 15px 15px;
}

.media-caption {
    padding: 10px 0 0 0;
    line-height: 1.6em;
}

.media-edit-caption {
    line-height: 1.6em;
}

.media-edit-actions {
    padding: 0 15px 15px 15px;
}

.media-actions {
    padding: 0 10px 10px 10px;
}

.media-avatar {
    width: 50px;
    height: 50px;
    border-radius: 90px;
    object-fit: cover;
    outline: none;
    cursor: pointer;
}

.media-author {
    padding-left: .5rem;
}

.media-author-username {
    font-weight: 900;
}

.media-attachment {
    width: 100%;
    height: auto;
    vertical-align: bottom;
    pointer-events: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.comment-input {
    font-family: 'Open Sans', sans-serif;
    outline: none;
    border: none;
    width: 100%;
    padding-left: .7rem;
    font-size: .9em;
}

.caption-input {
    outline: none;
    background: #fafafa;
    border: none;
    padding: .75rem;
    border-radius: 2px;
    font-size: .9em;
    font-weight: lighter;
}

.media-content {
    width: 100%;
    position: relative;
    height: auto;
}

.media-content img,
.media-content video {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.media-content:hover img,
.media-content:hover video {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.media-content .media-content-buttons {
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 .5rem 0 .5rem;
    z-index: 100;
}

.media-content:not([disabled]):hover .media-content-buttons {
    opacity: 1;
}

.media-date {
    padding: .75rem 0 .5rem;
}

.media-created {
    font-size: 0.7em;
    color: rgb(0, 0, 0, .6);
    font-weight: 600;
    text-transform: uppercase;
}

.progress-bar {
    height: 3px;
    position: absolute;
}

.likes {
    padding-top: 10px;
}

.likes-counter {
    cursor: pointer;
}

.liked {
    color: #e91e63;
}

.big-like-icon {
    color: rgb(0, 0, 0, .85);
    cursor: pointer;
    outline: none;
    width: 27px;
    height: 27px;
}

.big-like-icon>svg {
    stroke-width: 1.5px;
}

.icon-button {
    color: rgb(0, 0, 0, .85);
}

.pulse {
    animation-name: pulse_animation;
    animation-duration: 1000ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

/* .pulse:hover {
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    animation: none;
} */

@keyframes pulse_animation {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.25);
    }
    50% {
        transform: scale(1);
    }
    60% {
        transform: scale(1);
    }
    70% {
        transform: scale(1.5);
    }
    80% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}
