.media-item {
    background-color: white;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 3px 8px -3px rgba(0, 0, 0, 0.26);
}

.media-item-header {
    padding: .5rem;
    width: 100%;
}

.media-item-owner>img {
    width: 50px;
    height: 50px;
    border-radius: 90px;
    object-fit: cover;
    outline: none;
    cursor: pointer;
}

.media-item-owner>a {
    margin-left: .5rem;
    font-weight: 900;
}

.media-item-footer {
    padding: 1rem .7rem .7rem .7rem;
}

.media-item-footer .media-item-likes {
    padding-bottom: .7rem;
}

.media-item-caption {
    line-height: 1.6em;
    padding-bottom: .7rem;
}

.media-item-footer .media-item-comments {
    padding-bottom: .7rem;
}

.media-item-footer .media-item-date {
    padding-bottom: .25rem;
}

.media-item-footer .comment-input {
    font-family: 'Open Sans', sans-serif;
    outline: none;
    border: none;
    width: 100%;
    padding-left: .7rem;
    font-size: .9em;
}

.media-item-footer textarea {
    resize: none;
    outline: none;
    box-sizing: border-box;
    width: 100%;
    word-spacing: 2px;
}

.media-item-footer .caption-input {
    background: #fafafa;
    font-size: .9em;
    border: none;
    border-radius: 2px;
    line-height: 1.6em;
    padding: .75rem;
}

.media-item-footer .media-item-edit-actions {
    padding-top: .7rem;
}

.media-item-footer button {
    font-weight: bold;
}

.media-item-footer ::ng-deep .mat-button-focus-overlay {
    background-color: transparent !important;
}

.media-item-attachment {
    width: 100%;
    height: auto;
    vertical-align: bottom;
    pointer-events: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.media-item-content {
    width: 100%;
    position: relative;
    height: auto;
}

.media-item-content img,
.media-item-content video {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.media-item-content:hover img,
.media-item-content:hover video {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.media-item-content>.navigation {
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 .5rem 0 .5rem;
    z-index: 100;
}

.media-item-content:not([disabled]):hover>.navigation {
    opacity: 1;
}

.media-item-content>.navigation mat-icon {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    cursor: pointer;
}

.media-created {
    font-size: 0.7em;
    color: rgb(0, 0, 0, .6);
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.progress-bar {
    height: 3px;
    position: absolute;
}

.liked {
    color: #e91e63;
}

.big-like-icon {
    color: rgb(0, 0, 0, .85);
    cursor: pointer;
    outline: none;
    width: 27px;
    height: 27px;
}

.big-like-icon>svg {
    stroke-width: 1.5px;
}

.icon-button {
    color: rgb(0, 0, 0, .85);
}
