@media screen and (max-width: 500px) {
    .media-item {
        border-radius: 5px;
        box-shadow: 0 3px 20px -2px rgba(0, 0, 0, 0.26);
    }
}

@media screen and (min-width: 501px) {
    .media-item {
        border-radius: 2px;
        box-shadow: 0 3px 8px -3px rgba(0, 0, 0, 0.26);
    }
}

.media-item {
    background-color: white;
    position: relative;
}

.media-item-header {
    padding: .7rem 0 .7rem .7rem;
    width: 100%;
}

.media-menu-button {
    font-size: 1em;
}

.media-item-owner img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    outline: none;
}

.media-item-owner .username {
    margin-left: .7rem;
    font-size: .9em;
}

.media-item-footer {
    padding: 1rem .7rem .7rem .7rem;
}

.media-item-footer .media-item-likes {
    padding-bottom: .7rem;
}

.media-item-caption {
    line-height: 1.6em;
    padding-bottom: .7rem;
}

.media-item-caption .username {
    margin-right: .25rem;
    font-weight: bold;
}

.media-item-footer .media-item-comments {
    padding-bottom: .7rem;
    line-height: 1.5;
}

.media-item-caption,
.media-item-likes,
.media-item-comments {
    font-size: .9em;
}

.media-item-footer .media-item-date {
    padding-bottom: .7rem;
}

.media-item-footer .comment-input {
    font-family: 'Open Sans', sans-serif;
    outline: none;
    border: none;
    width: 100%;
    padding-left: .7rem;
    font-size: .9em;
}

.media-item-footer textarea {
    resize: none;
    outline: none;
    box-sizing: border-box;
    width: 100%;
    word-spacing: 2px;
}

.media-item-footer .caption-input {
    background: #fafafa;
    font-size: .9em;
    border: none;
    border-radius: 2px;
    line-height: 1.6em;
    padding: .75rem;
}

.media-item-footer .media-item-edit-actions {
    padding-top: .7rem;
}

.media-item-footer button {
    font-weight: normal;
}

.media-item-footer ::ng-deep .mat-button-focus-overlay {
    background-color: transparent !important;
}

.media-item-attachment {
    width: 100%;
    height: auto;
    vertical-align: bottom;
    pointer-events: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.media-item-content {
    overflow: hidden;
    width: 100%;
    position: relative;
    height: auto;
}

.media-item-content img,
.media-item-content video {
    max-width: 100%;
    -webkit-transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.media-item-content:hover img,
.media-item-content:hover video {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.media-item-content>.navigation {
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 .7rem 0 .7rem;
    z-index: 100;
    -webkit-transition: opacity .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: opacity .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

app-attachment-counter {
    opacity: 0;
    -webkit-transition: opacity .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: opacity .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.media-item-content:not([disabled]):hover>app-attachment-counter,
.media-item-content:not([disabled]):hover>.navigation {
    opacity: 1;
}

.media-item-content>.navigation mat-icon {
    color: rgb(255, 255, 255, .8);
    text-shadow: 2px 2px 4px rgb(0, 0, 0, .86);
    cursor: pointer;
    -webkit-transition: background-color .15s ease-in-out;
    -moz-transition: background-color .15s ease-in-out;
    -ms-transition: background-color .15s ease-in-out;
    -o-transition: background-color .15s ease-in-out;
    transition: background-color .15s ease-in-out;
}

.media-item-content>.navigation mat-icon:hover {
    color: rgb(255, 255, 255, 1);
}

.media-created {
    font-size: 0.7em;
    color: rgb(0, 0, 0, .65);
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.progress-bar {
    height: 3px;
    position: absolute;
}

.liked {
    color: #e91e63;
}

.big-like-icon {
    color: rgb(0, 0, 0, .86);
    cursor: pointer;
    outline: none;
    width: 27px;
    height: 27px;
}

.big-like-icon>svg {
    stroke-width: 1.5px;
}

.icon-button {
    color: rgb(0, 0, 0, .86);
}

.media-progressbar {
    position: absolute;
    top: 0;
    height: 2px;
    z-index: 1;
}

::ng-deep .media-progressbar .mat-progress-bar-background {
    fill: transparent;
}

::ng-deep .media-progressbar .mat-progress-bar-buffer {
    background-color: transparent;
}
