<div class="media-item" *ngIf="media">
    <div class="media-item-header" fxLayout="row" fxLayoutAlign="space-between center" *ngIf="!media.editing">
        <div class="media-item-owner" fxLayout="row" fxLayoutAlign="start center">
            <img [routerLink]="['/', media.user.username]" src="{{media.user.pictureUri}}" default="assets/images/user-default-image.png" alt="profile">
            <a [routerLink]="['/', media.user.username]">{{media.user.username}}</a>
        </div>
        <div *ngIf="currentUser && media.user.id === currentUser.id">
            <button mat-icon-button type="button" [matMenuTriggerFor]="menu">
                <mat-icon class="mat-24">expand_more</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item (click)="edit()">
                    <mat-icon class="mat-18">edit</mat-icon>
                    <span>Edit</span>
                </button>
                <button mat-menu-item (click)="remove()">
                    <mat-icon class="mat-18">delete</mat-icon>
                    <span>Remove</span>
                </button>
            </mat-menu>
        </div>
    </div>
    <div class="media-item-content" (click)='play($event)'>
        <div class="navigation" fxLayout="row" fxLayoutAlign="space-between center" *ngIf="media.attachments.length > 1">
            <div>
                <mat-icon class="mat-36" *ngIf="media.activeAttachment > 0" (click)="previous()">chevron_left</mat-icon>
            </div>
            <div>
                <mat-icon class="mat-36" *ngIf="media.activeAttachment != media.attachments.length - 1" (click)="next()">chevron_right</mat-icon>
            </div>
        </div>
        <div mat-ripple *ngFor="let attachment of media.attachments; let index = index;">
            <div [hidden]="index !== media.activeAttachment" *ngIf="(media.activeAttachment === index && attachment.type === 1) || (attachment.type !== 1)">
                <img class="media-item-attachment" src="{{attachment.uri}}" alt="media-image" *ngIf="attachment.type !== 1">
                <video class="media-item-attachment" *ngIf="attachment.type === 1" loop #player>
                    <source src="{{attachment.uri}}">
                </video>
            </div>
        </div>
    </div>
    <div class="media-item-footer" *ngIf="!media.editing">
        <div class="media-item-likes">
            <app-likes (onClicked)="openUsersDialog($event)" [media]="media"></app-likes>
        </div>
        <div class="media-item-caption" *ngIf="media.caption">
            <a [routerLink]="['/', media.user.username]">
                <strong>{{media.user.username}}</strong>
            </a>
            <app-caption caption="{{media.caption}}"></app-caption>
        </div>
        <div class="media-item-comments" [hidden]="!media.commentsCount">
            <app-comments #commentsComponent [media]="media"></app-comments>
        </div>
        <div class="media-item-date">
            <span class="media-created" matTooltip="{{media.created | date:'fullDate'}}" matTooltipPosition="right">{{media.created | timeAgo}}</span>
        </div>
        <div>
            <div fxLayout="row">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-icon class="btn-icon mat-24" [ngClass]="{ 'warn' : media.userHasLiked, 'btn-icon-pulse' : media.userHasLiked }" (click)="like()">favorite</mat-icon>
                </div>
                <input class="comment-input" *ngIf="media.allowComments" type="text" placeholder="Type your comment" [(ngModel)]="text" (keydown.enter)="createComment()" />
                <button class="icon-button" mat-icon-button matTooltip="Share" matTooltipPosition="left" ngxClipboard [cbContent]="share()" (cbOnSuccess)="showToast('Copied to clipboard')">
                    <mat-icon>share</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="media-item-footer" *ngIf="media.editing" fxLayout="column">
        <textarea rows="5" class="caption-input" placeholder="Edit Caption" type="text" [(ngModel)]="updateMediaModel.caption"></textarea>
        <div class="media-item-edit-actions" fxLayout="row" fxLayoutAlign="end center">
            <button mat-button (click)="cancel()" disableRipple="true">CANCEL</button>
            <button mat-raised-button color="primary" (click)="save()">SAVE</button>
        </div>
    </div>
</div>
