.tags-media-container {
    min-height: calc(100vh - 228px);
    padding: 0 .7rem;
}

.tags-media-container>div {
    max-width: 960px;
}

.tags-header {
    width: 960px;
    padding-bottom: 2.8rem;
}

.tags-header .page-subtitle {
    color: rgb(0, 0, 0, .65);
    font-size: 1.2em;
}

.tags-header h1 {
    text-transform: uppercase;
    font-weight: lighter;
}

.tags-empty-container h2 {
    color: rgb(0, 0, 0, .65);
}

.tags-media {
    width: 100%;
    max-width: 960px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
}

.tags-media .username {
    cursor: pointer;
    outline: none;
    /* font-weight: bold; */
    text-shadow: 2px 2px 4px rgb(0, 0, 0, .86);
}

.tags-media-item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 3px 8px -3px rgba(0, 0, 0, 0.26);
}

.tags-media-item:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.tags-grid {
    box-shadow: 0 3px 8px -3px rgba(0, 0, 0, 0.26);
}

.tags-media-thumbnail {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: bottom;
    border-radius: 2px;
}

.image-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.tags-media-item img.tags-media-thumbnail,
.tags-media-item video.tags-media-thumbnail {
    max-width: 100%;
    -webkit-transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.tags-media-item:hover img.tags-media-thumbnail,
.tags-media-item:hover video.tags-media-thumbnail {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.tags-media-item:hover .tags-media-item__details {
    opacity: 1;
}

.attachments-icon-container {
    position: absolute;
    top: .7rem;
    right: .7rem;
    z-index: 1;
}

.attachments-icon-container>:last-child {
    margin-left: .5rem;
}

.attachments-icon {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.tags-media-item__details {
    opacity: 0;
    padding: 0 .7rem .7rem;
    bottom: 0;
    position: absolute;
    width: 100%;
    background: linear-gradient(to bottom, transparent, rgb(0, 0, 0, .7));
    -webkit-transition: opacity .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition: opacity .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: opacity .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.btn-icon.white:not(:hover):not(.warn) {
    color: rgb(255, 255, 255, .86);
}

.btn-like {
    padding: .35rem .35rem .15rem .35rem;
    background-color: rgb(150, 150, 150, .3);
    border-radius: 7px;
    -webkit-transition: background-color .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition: background-color .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: background-color .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.btn-like:hover {
    background-color: rgb(255, 255, 255, .5);
}

.btn-like:active {
    background-color: rgb(240, 240, 240, .2);
}
