<div class="tags-media-container" fxLayout="column" fxLayoutAlign="start center">
    <div class="tags-media-header" fxLayout="column" fxLayoutAlign="center start">
        <span style="font-weight: bold; font-size: 2.2em; padding-bottom: .7rem; text-transform: uppercase; letter-spacing: 2px;">#{{tag}}</span>
        <span style="font-weight: lighter; font-size: 1.2em; color: gray;">Items found: {{page?.data.length}}</span>
    </div>
    <div class="tags-media">
        <div *ngFor="let media of page?.data;">
            <div class="tags-media-item" (click)="openPostDialog(media)">
                <img class="tags-media-thumbnail" src="{{media?.attachments[0].uri}}" alt="media-image" *ngIf="media?.attachments[0].type !== 1">
                <video class="tags-media-thumbnail" *ngIf="media?.attachments[0].type === 1">
                    <source src="{{media?.attachments[0].uri}}">
                </video>
                <div class="multiple-attachments-icon-container" fxLayout="row" fxLayoutAlign="start center" *ngIf="media.attachments.length > 1 || media?.attachments[0].type === 1">
                    <mat-icon class="multiple-attachments-icon" *ngIf="media.attachments[0].type === 1">videocam</mat-icon>
                    <mat-icon class="multiple-attachments-icon" *ngIf="media.attachments.length > 1">layers</mat-icon>
                </div>
            </div>
            <div style="padding-top: .7rem;">
                <span style="font-size: 1.2em; letter-spacing: 2px; font-weight: normal; text-transform: uppercase;">{{media.user.username}}</span>
            </div>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" *ngIf="page?.hasMoreItems">
        <button class="btn-default" mat-button (click)="getMedia()" [disabled]="isLoadingPosts">Load More</button>
    </div>
</div>
