.signin-content {
    position: relative;
    height: calc(100vh - 64px);
    width: 100%;
    margin: -3rem 0;
}

@media screen and (max-width: 500px) {
    .signin-form {
        width: 100%;
        border-radius: 0;
        height: 100%;
    }
}

@media screen and (min-width: 701px) {
    /* .background-video {
        object-fit: cover;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
    } */
    .signin-form {
        width: 448px;
        border-radius: 2px;
        box-shadow: 0 3px 8px -3px rgba(0, 0, 0, 0.26);
    }
    .signin-content {
        background: #fafafa;
        /* background: #2980b9 url('/assets/images/tumblr_static_bg3.png') repeat 0 0; */
    }
}

.signin-form {
    font-size: .9em;
    background: white;
    padding: 1.4rem;
    position: relative;
    /* border: 1px solid #d8d8d8; */
}

.disabled {
    color: #9d9d9d;
}

.error-message {
    color: #e91f63;
    text-align: center;
}

/* .mat-error {
    margin-top: .5rem;
    display: block;
} */

/*
::ng-deep .signin-form .mat-input-underline {
    display: none;
}

::ng-deep .signin-form .mat-form-field-wrapper {
    padding-bottom: .5rem;
} */
