.disabled {
    color: #9d9d9d;
}

.form-field .btn-icon {
    color: #9d9d9d;
}

.form-field:focus-within .btn-icon,
.form-field .mat-icon.btn-icon:hover {
    color: #e91e63;
}

.forgot-password {
    font-size: .9em;
}

.signin-form .actions {
    margin-top: .7rem;
}

.signin-form .mat-checkbox {
    font-size: .9em;
    color: rgb(0, 0, 0, .85);
}

.signin-error-container {
    height: 100px;
}

.form-header .username {
    font-size: 1.2em;
    padding-bottom: .7rem;
}

.form-header .profile {
    padding-bottom: .7rem;
    position: relative;
    margin-right: -.4rem;
}

.form-header .profile img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.form-header .profile .email {
    margin-left: .7rem;
}

.form-header .profile button {
    position: absolute;
    right: 0;
}
