<div [ngClass]="{ 'post-container' : !isDialog }" fxLayout="row" fxLayoutAlign="center center">
    <div class="post" fxLayout="row" fxLayoutAlign="start stretch" *ngIf="post">
        <div md-ripple class="post-content">
            <div class="post-content-buttons" fxLayout="row" fxLayoutAlign="space-between center" *ngIf="post.attachments.length > 1">
                <div>
                    <button md-raised-button md-icon-button *ngIf="post.activeAttachment > 0" (click)="previous()">
                    <md-icon class="post-icon">chevron_left</md-icon>
                </button>
                </div>
                <div>
                    <button md-raised-button md-icon-button *ngIf="post.activeAttachment != post.attachments.length - 1" (click)="next()">
                    <md-icon class="post-icon">chevron_right</md-icon>
                </button>
                </div>
            </div>
            <img class="attachment" src="{{attachment.uri}}" alt="post-image" *ngFor="let attachment of post.attachments; let index = index;"
                [hidden]="index !== post.activeAttachment">
        </div>
        <div class="post-data" fxLayout="column">
            <div class="post-header" fxLayout="row">
                <img class="post-avatar" [routerLink]="['/', post.user.username]" src="{{post.user.pictureUri}}" alt="profile">
                <div class="post-author" fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
                    <a class="mat-body-1" [routerLink]="['/', post.user.username]">{{post.user.username}}</a>
                    <div>
                        <button md-icon-button mdTooltip="Copy to clipboard" mdTooltipPosition="left" ngxClipboard [cbContent]="share()">
                    <md-icon>share</md-icon>
                </button>
                        <md-menu #menu="mdMenu" xPosition="before">
                            <button md-menu-item>
                    <md-icon>edit</md-icon>
                    <span>Edit</span>
                </button>
                            <button md-menu-item>
                    <md-icon>delete</md-icon>
                    <span>Remove</span>
                </button>
                        </md-menu>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="post-details" fxFlex>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <span><strong>{{post.likesCount}} likes</strong></span>
                    <div class="post-date">
                        <span class="post-created">{{post.created | timeAgo}}</span>
                    </div>
                </div>
                <div class="post-caption" *ngIf="post.caption">
                    <a><strong>{{post.user.username}}</strong></a>
                    <span>{{post.caption}}</span>
                </div>
                <app-comments [post]="post"></app-comments>
            </div>
            <hr *ngIf="currentUser" />
            <div class="post-actions" fxLayout="row" *ngIf="currentUser">
                <button [ngClass]="{ 'liked' : post.userHasLiked }" md-icon-button (click)="like()">
                    <md-icon>favorite_border</md-icon>
                </button>
                <input class="comment-input" type="text" placeholder="Add comment" [(ngModel)]="text" (keydown.enter)="createComment()" />
            </div>
        </div>
    </div>
</div>
