a {
    text-decoration: none;
    color: inherit;
}

hr {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 15px;
    margin-right: 15px;
    border-top: 1px solid #d8d8d8;
}

.post-details {
    padding: 15px 15px;
}

.post-data {
    max-width: 400px;
}

md-dialog-content {
    padding: 0;
}

.post-container {
    height: calc(100vh - 75px);
    padding: 25px;
}

.post {
    background-color: white;
    position: relative;
    border-radius: 2px;
}

.post-header {
    padding: 10px;
    width: 400px;
}

.post-footer {
    padding: 15px;
}

.post-caption {
    padding: 10px 0 0 0;
    line-height: 1.6em;
}

.post-date {
    padding: 0;
}

.post-actions-wrapper {
    padding: 10px;
}

.post-details-actions {
    border: 2px solid #efefef;
    border-radius: 4px;
    padding: 3px;
}

.post-avatar {
    width: 50px;
    height: 50px;
    border-radius: 90px;
    object-fit: cover;
    outline: none;
}

.post-author {
    padding-left: 10px;
}

.username {
    font-size: 1.2em;
    font-weight: normal;
}

.attachment {
    width: auto;
    height: auto;
    max-height: calc(100vh - 75px);
    max-width: calc(100vw - 800px);
    min-height: 300px;
    min-width: auto;
    pointer-events: none;
    user-select: none;
    vertical-align: bottom;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.post-details-comment-input {
    font-weight: lighter;
    outline: none;
    border: none;
    width: 100%;
}

.post-content {
    width: 100%;
    position: relative;
    height: auto;
}

.post-content .post-content-buttons {
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 10px 0 10px;
}

.post-content:not([disabled]):hover .post-content-buttons {
    opacity: 1;
}

.post-created {
    font-size: 0.9em;
    color: gray;
    /* text-transform: uppercase; */
    letter-spacing: 1px;
}

.mat-dialog-container {
    padding: 0px !important;
}

md-dialog-container {
    padding: 0px !important;
}

.comments {
    margin: 10px 0 0 0;
}

.comments-header {
    font-size: 1.1em;
    font-weight: bold;
    color: gray;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.like-button {
    color: grey;
}

.liked {
    color: #e91e63;
}
