.single-post {
    position: relative;
    border-radius: 2px;
    color: #444444;
}

.post-container {
    height: calc(100vh - 75px);
    padding: 25px;
}

.post-details {
    width: 400px;
    padding: 0 0 0 10px;
}

.post-details.dialog {
    padding: 10px;
}

.post-details-header {
    padding: 0px 0px 10px 0px;
}

.post-subheader {
    width: 100%;
    margin: 15px 0 0 0;
}

.post-details-content {
    overflow-y: auto;
    padding: 10px 0 0 0;
}

.content-header {
    font-size: 1.1em;
    font-weight: 300;
    color: #6B738A;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.post-details-footer {
    padding-top: 5px;
}

.comment-box {
    border: 2px solid #d8d8d8;
    border-radius: 3px;
    margin-left: 0px;
    width: 100%;
    color: #d8d8d8;
}

.comment-box:hover {
    border: 2px solid grey;
    color: grey;
}

.comment-box:hover .send-button {
    color: #444444;
}

.comment-box:hover .send-button:disabled {
    color: grey;
}

.post-details-caption {
    padding: 0 0 0 0;
    line-height: 1.6em;
}

.post-date {
    padding: 0;
}

.post-actions-wrapper {
    width: 100%;
}

.post-details-actions {
    border: 2px solid #efefef;
    border-radius: 4px;
    padding: 3px;
}

.post-avatar {
    width: 50px;
    height: 50px;
    border-radius: 90px;
    object-fit: cover;
    outline: none;
}

.post-author {
    padding-left: 10px;
}

.username {
    font-size: 1.2em;
    font-weight: normal;
}

.attachment {
    width: auto;
    height: auto;
    max-height: calc(100vh - 75px);
    max-width: calc(100vw - 800px);
    min-height: 300px;
    min-width: auto;
    pointer-events: none;
    user-select: none;
    vertical-align: bottom;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.post-details-comment-input {
    background: inherit;
    font-weight: lighter;
    outline: none;
    border: none;
    width: 100%;
    padding: 10px;
}

.post-attachment-container {
    position: relative;
    height: auto;
}

.post-attachment-container .post-attachment-buttons {
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 10px 0 10px;
}

.post-attachment-container:not([disabled]):hover .post-attachment-buttons {
    opacity: 1;
}

.post-details-created {
    font-size: 0.9em;
    color: #6B738A;
    font-weight: lighter;
    /* text-transform: uppercase; */
    letter-spacing: 1px;
}

.likes-counter {
    cursor: pointer;
}

.like-button {
    color: #6B738A;
}

.liked {
    color: #e91e63;
}
