.footer {
    color: gray;
    height: 64px;
    font-size: 0.8em;
}

.footer-container {
    width: 960px;
}

.footer-links>a:first-child {
    margin-left: 0;
}

.footer-links>a {
    color: #ea1f62;
    margin-left: .75rem;
    cursor: pointer;
}

.footer-links>a:hover {
    color: #a01745;
}

.copyright {
    font-weight: bold;
}
