.footer {
    color: gray;
    padding: 0 85px;
    height: 64px;
    font-size: 0.8em;
}

.footer-links>a {
    color: #ea1f62;
    margin-left: .75rem;
    cursor: pointer;
}

.footer-links>a:hover {
    color: #a01745;
    margin-left: .75rem;
}

.copyright {
    font-weight: bold;
}
