.navbar {
    background-color: white;
}

@media screen and (max-width: 700px) {
    .search-box-container {
        display: none;
    }
    .container {
        width: 100%;
    }
}

.container {
    width: 100%;
}

.search-box-container {
    width: 600px;
}

.logo {
    font-weight: 300;
    font-size: 24px;
    cursor: pointer;
    outline: none;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 90px;
    object-fit: cover;
    cursor: pointer;
    outline: none;
}

.toolbar-tools {
    position: relative;
    width: 100%;
}

.navbar-actions {
    /* position: absolute;
    right: 0; */
}

mat-icon>svg {
    stroke-width: 0.7;
}

.custom-big-icon-container {
    width: 64px;
    height: 64px;
    border-right: 1px solid #C8C8C8;
}

.custom-big-icon-container.border-left {
    border-left: 1px solid #C8C8C8;
}

.custom-big-icon {
    color: #444444;
    width: 35px;
    height: 35px;
}
