.navbar {
    background-color: white;
}

.logo {
    font-weight: 300;
    font-size: 24px;
    cursor: pointer;
    outline: none;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 90px;
    object-fit: cover;
    cursor: pointer;
    outline: none;
}

.toolbar-tools {
    flex: 1 1 auto;
    position: relative;
}

.progress-bar {
    height: 3px;
}

.navbar-actions {
    position: absolute;
    right: 0;
    /* margin-right: 25px; */
    /* width: 155px; */
}

mat-icon>svg {
    stroke-width: 0.7;
}

.custom-big-icon-container {
    width: 64px;
    height: 64px;
    border-right: 1px solid #C8C8C8;
}

.custom-big-icon-container.border-left {
    border-left: 1px solid #C8C8C8;
}

.custom-big-icon {
    color: #444444;
    width: 35px;
    height: 35px;
}
