<mat-toolbar class="navbar mat-elevation-z1" *ngIf="renderToolbar">
    <div class="toolbar-tools" fxLayout="row" fxLayoutAlign="center center">
        <div class="container" fxLayout="row" fxLayoutAlign="start center">
            <div fxLayout="row" fxLayoutAlign="start center" style="width: 100%;">
                <h1 class="logo" routerLink="/">photocloud</h1>
            </div>
            <div style="search-box-container">
                <app-search-box *ngIf="currentUser"></app-search-box>
            </div>
            <div fxLayout="row" fxLayoutAlign="end center" *ngIf="currentUser" style="width: 100%">
                <a [routerLink]="['/', currentUser.username]" fxLayout="row" fxLayoutAlign="center center">
                    <img class="avatar" src="{{currentUser.pictureUri}}" default="assets/images/user-default-image.png" alt="user">
                </a>
            </div>
            <div fxLayout="row" fxLayoutAlign="end center" *ngIf="!currentUser" style="width: 100%;">
                <a style="font-size: 14px;" [routerLink]="['/account/create']" fxLayout="row" fxLayoutAlign="center center">
                    CREATE ACCOUNT
                </a>
                <a style="font-size: 14px; margin-left: 12px;" [routerLink]="['/account/signin']" fxLayout="row" fxLayoutAlign="center center">
                    SIGN IN
                </a>
            </div>
        </div>
        <div class="navbar-actions" *ngIf="currentUser" fxLayout="row" fxLayoutAlign="end center">
            <div class="custom-big-icon-container border-left" fxLayout="row" fxLayoutAlign="center center">
                <button mat-icon-button [routerLink]="['/explore/people']">
                    <mat-icon class="custom-big-icon" svgIcon="compass"></mat-icon>
                </button>
            </div>
            <div class="custom-big-icon-container" fxLayout="row" fxLayoutAlign="center center" *ngIf="currentUser && currentUser.isPrivate && currentUser.isActive">
                <button mat-icon-button (click)="openNotifications()">
                    <mat-icon class="custom-big-icon" svgIcon="bell"></mat-icon>
                </button>
            </div>
        </div>
    </div>
</mat-toolbar>
