<!-- <md-progress-bar class="progress-bar" color="warn" [value]="value"></md-progress-bar>  -->
<md-toolbar class="navbar z-depth-1">
    <div class="toolbar-tools" fxLayout="row" fxLayoutAlign="center center">
        <div class="container" fxLayout="row" fxLayoutAlign="space-between center">
            <h1 class="logo" routerLink="/">photocloud</h1>
            <div fxLayout="row">
                <img class="avatar" [routerLink]="['/', accessToken.username]" src="{{accessToken.pictureUri}}"
                    alt="user" *ngIf="accessToken">
                <button md-icon-button (click)="logout()">
                    <md-icon>exit_to_app</md-icon>
                </button>
            </div>
        </div>
    </div>
</md-toolbar>
