::ng-deep .signup-content * {
    font-family: 'Roboto', sans-serif !important;
}

.signup-content {
    position: relative;
    min-height: calc(100vh - 64px);
    width: 100%;
    margin: -3rem 0;
    padding: 3rem 0;
}

::ng-deep .signup-content * {
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 500px) {
    .signup-form {
        width: 100%;
        border-radius: 0;
        height: 100%;
    }
}

@media screen and (min-width: 701px) {
    .signup-form {
        width: 448px;
        border-radius: 2px;
        box-shadow: 0 3px 8px -3px rgba(0, 0, 0, 0.26);
    }
    .signup-content {
        /* background: #fafafa; */
        /* background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%); */
        /* background: #2980b9 url('/assets/images/tumblr_static_bg3.png') repeat 0 0; */
    }
}

.signup-form {
    font-size: .9em;
    background: white;
    padding: 2.1rem 1.4rem 1.4rem 1.4rem;
    position: relative;
}

.input {
    padding: 12px;
    border: 2px solid #efefef;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    margin-top: 24px;
}

.disabled {
    color: #9d9d9d;
}

.error-message {
    color: #e91f63;
    text-align: center;
}

.mat-spinner>* {
    stroke: white !important;
}

.agreements-container {
    text-align: center;
    color: rgb(0, 0, 0, .6);
}

.agreements-container a {
    color: #e91e63;
}

.agreements-container a:hover {
    text-decoration: underline;
}

.form-field .btn-icon {
    color: #9d9d9d;
}

.form-field:focus-within .btn-icon,
.form-field .mat-icon.btn-icon:hover {
    color: #e91e63;
}
