@media screen and (max-width: 500px) {
    .user-info {
        display: none !important;
    }
    .user-info-small {
        display: flex !important;
    }
}

@media screen and (min-width: 501px) {
    .user-info {
        display: flex !important;
    }
    .user-info-small {
        display: none !important;
    }
}

.user-info {
    width: 650px;
    color: rgb(0, 0, 0, .85);
}

.user-info-data {
    line-height: 3;
    margin-left: 1rem;
}

.user-info-username {
    font-size: 2em;
    font-weight: 800;
    line-height: 1.5;
    padding-right: 1.4rem;
    max-width: 450px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-info-username.center-username {
    margin-top: 45px;
}

.user-info-fullname {
    font-weight: 900;
    white-space: nowrap;
}

.thumbnail-big {
    width: 150px;
    height: 150px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
}

div.edit-image {
    box-sizing: border-box;
    position: relative;
}

div.edit-image .thumbnail-big {
    vertical-align: bottom;
}

div.edit-image .change-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: #ffffff;
    opacity: 0;
    z-index: 100;
    border-radius: 50%;
    -webkit-transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -ms-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
}

div.edit-image:not([disabled]):hover .change-overlay {
    cursor: pointer;
    background: rgba(0, 0, 0, .5);
    opacity: 1;
}

.thumbnail-big.pointer {
    cursor: pointer;
}

.user-details {
    margin-top: 16px;
}

.counters {
    margin-top: 16px;
}

.mat-subhead.full-name {
    font-size: 17px;
    font-weight: 900;
    padding-right: .5rem;
    width: 100%;
    white-space: pre;
}

.user-info-link-button {
    cursor: pointer;
}

.user-info-link-button:hover {
    color: #e91e63;
}

.user-info a.primary {
    color: #e91e63;
    cursor: pointer;
}

.user-info-bio {
    line-height: 1.5;
    margin-left: .5rem;
}

.user-info-bio::before {
    content: '';
    display: block;
    margin-top: .8em;
}
