<div fxLayout="column" fxLayoutAlign="center start" *ngIf="user">
    <div class="user-info" fxLayout="row" fxLayoutAlign="center start">
        <div fxLayout="column" fxLayoutAlign="center center">
            <mat-progress-spinner [value]="progress" [mode]="progressSpinnerMode" [diameter]="160" [strokeWidth]="3" style="position: absolute; z-index: 0;" *ngIf="isAuthenticated && currentUser && currentUser.isActive && user.id === currentUser.id"></mat-progress-spinner>
            <img class="thumbnail-big" src="{{user.pictureUri}}" default="assets/images/user-default-image.png" alt="{{user.username}}" *ngIf="!isAuthenticated || (!currentUser || (currentUser && !currentUser?.isActive) || user.id !== currentUser?.id)"
                (click)="preview()" />
            <div class="edit-image" *ngIf="isAuthenticated && currentUser && currentUser.isActive && user.id === currentUser.id">
                <div *ngIf="!isUploading" class="change-overlay" fxLayout="row" fxLayoutAlign="center center" (click)="fileInput.click()">
                    <span>Change</span>
                </div>
                <img class="thumbnail-big" src="{{user.pictureUri}}" appImagePreview [image]="uploader.queue[0]?._file" default="assets/images/user-default-image.png" alt="{{user.username}}" />
            </div>
            <input #fileInput type="file" accept="image/*" ng2FileSelect [uploader]="uploader" hidden/>
        </div>
        <div class="user-info-data" fxLayout="column" fxFlex>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <span class="user-info__username" [ngClass]="{ 'center' : !user.isActive }">{{user.username}}</span>
                <div class="user-info__actions" fxLayout="row" fxLayoutAlign="space-between center" *ngIf="isAuthenticated && currentUser && user.id === currentUser.id">
                    <a routerLink="/account/edit" matTooltip="Settings" matTooltipPosition="above">
                        <mat-icon class="btn-icon">settings</mat-icon>
                    </a>
                    <a matTooltip="Logout" matTooltipPosition="above" (click)="logout()">
                        <mat-icon class="btn-icon">exit_to_app</mat-icon>
                    </a>
                </div>
                <button mat-button class="btn-relationships" *ngIf="isAuthenticated && currentUser && currentUser?.isActive && user.id !== currentUser.id && (user.isActive || (!user.isActive && user.relationship.outgoingStatus !== 0))"
                    (click)="modifyRelationship()" [disabled]="isModifyingRelationship">{{user.relationship.outgoingStatus | relationshipAction | uppercase }}</button>
            </div>
            <div class="user-info__counters" fxLayout="row" fxLayoutAlign="space-between center" *ngIf="isAuthenticated && user.isActive && currentUser">
                <a>
                    <span class="user-info__counter">
                        {{user.counters.posts}}
                    </span>
                    posts
                </a>
                <a class="user-info__btn-counter" (click)="getFollowers()">
                    <span class="user-info__counter">
                        {{user.counters.followers}}
                    </span>
                    followers
                </a>
                <a class="user-info__btn-counter" (click)="getFollowings()">
                    <span class="user-info__counter">
                        {{user.counters.following}}
                    </span>
                    following
                </a>
            </div>
            <div class="user-info__counters" fxLayout="row" fxLayoutAlign="space-between center" *ngIf="user.isActive && !currentUser">
                <a>
                    <span class="user-info__counter">
                        {{user.counters.posts}}
                    </span>
                    posts
                </a>
                <a>
                    <span class="user-info__counter">
                        {{user.counters.followers}}
                    </span>
                    followers
                </a>
                <a>
                    <span class="user-info__counter">
                        {{user.counters.following}}
                    </span>
                    following
                </a>
            </div>
            <p class="user-info__bio" *ngIf="user.isActive">
                <span class="user-info__bio__username">{{user.fullName}}</span>
                <span [innerHTML]="user.bio | truncate:truncateWidth | linkify"></span>
                <a class="primary" (click)="increaseTruncateSize()" *ngIf="user.bio && user.bio.length > defaultTruncateWidth && truncateWidth === defaultTruncateWidth">show more</a>
            </p>
        </div>
    </div>
    <div style="width: 100%; padding: .7rem;" fxLayout="row" fxLayoutAlign="end center" *ngIf="user.isActive && user.lastActive">
        <span matTooltip="{{user.lastActive | date:'fullDate'}}" matTooltipPosition="after" style="font-size: .9em; font-weight: bold; text-transform: uppercase; color: #C8C8C8;">{{user.lastActive | timeAgo}}</span>
    </div>
</div>

<!-- <div class="user-info-small" fxLayout="column" style="width: 100vw; padding: 0 .7rem; line-height: 1.5;" *ngIf="user">
    <div fxLayout="row" fxLayoutAlign="start">
        <img style="width: 75px; height: 75px; object-fit: cover; border-radius: 50%;" src="{{user.pictureUri}}" default="assets/images/user-default-image.png" alt="{{user.username}}" />
        <div style="padding-left: .7rem; width: 100%; box-sizing: border-box;">
            <div fxLayout="row" fxLayoutAlign="space-between center" style="padding-bottom: .7rem;">
                <h2 style="max-width: 150px;overflow: hidden;box-sizing: border-box;text-overflow: ellipsis;">{{user.username}}</h2>
                <div>
                    <button mat-button class="btn-relationships" *ngIf="isAuthenticated && currentUser && currentUser?.isActive && user.id !== currentUser.id && (user.isActive || (!user.isActive && user.relationship.outgoingStatus !== 0))"
                        (click)="modifyRelationship()" [disabled]="isModifyingRelationship">{{user.relationship.outgoingStatus | relationshipAction | uppercase }}</button>
                    <div class="user-info__actions" fxLayout="row" fxLayoutAlign="space-between center" *ngIf="isAuthenticated && currentUser && user.id === currentUser.id">
                        <a routerLink="/account/edit" matTooltip="Settings" matTooltipPosition="above">
                            <mat-icon class="btn-icon mat-18">settings</mat-icon>
                        </a>
                        <a matTooltip="Logout" matTooltipPosition="above" (click)="logout()">
                            <mat-icon class="btn-icon mat-18">exit_to_app</mat-icon>
                        </a>
                    </div>
                </div>
            </div>
            <div class="user-info__counters" fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;" *ngIf="user.isActive">
                <div fxLayout="column" fxLayoutAlign="center start">
                    Posts
                    <span class="user-info__counter">
                        {{user.counters.posts}}
                    </span>
                </div>
                <div fxLayout="column" fxLayoutAlign="center start">
                    Followers
                    <span class="user-info__counter">
                        {{user.counters.followers}}
                    </span>
                </div>
                <div fxLayout="column" fxLayoutAlign="center start">
                    Following
                    <span class="user-info__counter">
                        {{user.counters.following}}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div>
        <strong>Bio</strong>
        <div>
            <span [innerHTML]="user.bio | truncate:truncateWidth | linkify"></span>
            <a class="primary" (click)="increaseTruncateSize()" *ngIf="user.bio && user.bio.length > defaultTruncateWidth && truncateWidth === defaultTruncateWidth">show more</a>
        </div>
    </div>
</div> -->

<div class="user-info-small" fxLayout="column" style="width: 100vw; padding: 0 .7rem; line-height: 1.5;" *ngIf="user">
    <div fxLayout="row" fxLayoutAlign="start">
        <img style="width: 75px; height: 75px; object-fit: cover; border-radius: 50%;" src="{{user.pictureUri}}" default="assets/images/user-default-image.png" alt="{{user.username}}" />
        <div style="padding-left: .7rem; width: 100%; box-sizing: border-box;">
            <div class="user-info__counters" fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%; padding-bottom: .7rem;" *ngIf="user.isActive">
                <div fxLayout="column" fxLayoutAlign="center start">
                    Posts
                    <span class="user-info__counter">
                        {{user.counters.posts}}
                    </span>
                </div>
                <div fxLayout="column" fxLayoutAlign="center start">
                    Followers
                    <span class="user-info__counter">
                        {{user.counters.followers}}
                    </span>
                </div>
                <div fxLayout="column" fxLayoutAlign="center start">
                    Following
                    <span class="user-info__counter">
                        {{user.counters.following}}
                    </span>
                </div>
            </div>
            <div>
                <button mat-button class="btn-relationships" *ngIf="isAuthenticated && currentUser && currentUser?.isActive && user.id !== currentUser.id && (user.isActive || (!user.isActive && user.relationship.outgoingStatus !== 0))"
                    (click)="modifyRelationship()" [disabled]="isModifyingRelationship">{{user.relationship.outgoingStatus | relationshipAction | uppercase }}</button>
                <div style="width: 100%;" fxLayout="row" fxLayoutAlign="space-between center" *ngIf="isAuthenticated && currentUser && user.id === currentUser.id">
                    <a mat-button routerLink="/account/edit" class="btn-relationships" style="width: 49%;">
                        Edit
                    </a>
                    <a mat-button (click)="logout()" class="btn-relationships" style="width: 49%;">
                        Logout
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h2>{{user.fullName}}</h2>
        <h3>{{user.username}}</h3>
    </div>
    <div>
        <strong>Bio</strong>
        <div>
            <span [innerHTML]="user.bio | truncate:truncateWidth | linkify"></span>
            <a class="primary" (click)="increaseTruncateSize()" *ngIf="user.bio && user.bio.length > defaultTruncateWidth && truncateWidth === defaultTruncateWidth">show more</a>
        </div>
    </div>
</div>
