.user-info {
    /* height: 195px; */
    width: 650px;
}

.user-info-data {
    line-height: 3;
    margin-left: 1rem;
}

.user-info-username {
    font-size: 2em;
    font-weight: lighter;
    line-height: 1.5;
}

.user-info-fullname {
    font-weight: bold;
    white-space: nowrap;
}

.thumbnail-big {
    width: 150px;
    height: 150px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 90px;
    border: 1px solid #efefef;
}

.user-details {
    margin-top: 16px;
}

.counters {
    margin-top: 16px;
}

.mat-subhead.full-name {
    font-size: 17px;
    font-weight: bold;
    padding-right: 10px;
    width: 100%;
    white-space: pre;
}

.user-info-link-button {
    cursor: pointer;
}

.user-info-link-button:hover {
    color: #e91e63;
}

.user-info-bio {
    line-height: 1.5;
    margin-left: .5rem;
}

.user-info-bio::before {
    content: '';
    display: block;
    margin-top: .8em;
}
