<div fxLayout="row" fxLayoutAlign="center start">
    <div class="privacy-container">
        <h1>Privacy Policy</h1>

        <h2>
            Cookies & Similar Technologies
        </h2>
        <h3>
            What are cookies?
        </h3>
        <p>
            Cookies are small text files containing a string of characters that can be placed on your computer or mobile device that uniquely identifies your browser or device. We may use
            technologies like cookies,
            pixels and local storage to deliver, secure, and understand products, services, and ads.
        </p>
        <h3>
            What are cookies used for?
        </h3>
        <p>
            Cookies and other technologies allow a site or services to know if your computer or device has visited it before. These technologies can then be used to deliver products, services, and
            ads, help us understand
            how the site or service is being used, help you navigate between pages efficiently, help remember your preferences, and generally improve your experience in using our services. Cookies
            can
            also help ensure marketing you see online is more relevant to you and your interests.
        </p>
        <h3>
            How long will cookies stay on my device?
        </h3>
        <p>
            The length of time a cookie will stay on your computer or mobile device depends on whether it is a "persistent" or "session" cookie. Session cookies will only stay on your device until
            you stop browsing.
            Persistent cookies stay on your computer or mobile device until they expire or are deleted.
        </p>
    </div>
</div>
