<div class="signin-content" fxLayout="column" fxLayoutAlign="center center">
    <form class="mat-elevation-z1 sign-in-form" fxLayout="column" [formGroup]="formGroup" (ngSubmit)="signIn()">
        <div style="margin-bottom: 24px;" fxLayout="column">
            <div style="margin: 12px 0 34px 0;" fxLayout="row" fxLayoutAlign="center center">
                <span style="font-size: 24px; font-weight: lighter;">Photo</span>
                <span style="font-size: 34px; font-weight: bold;">Cloud</span>
            </div>
            <span style="color: gray;">Create account or
                <a class="primary" routerLink="/account/signin">Sign In</a> if already have one
            </span>
        </div>
        <mat-form-field class="form-field">
            <input formControlName="username" matInput placeholder="Username" type="text" autocomplete="off" [errorStateMatcher]="errorStateMatcher">
            <mat-hint align="start">
            </mat-hint>
            <mat-hint align="end">{{username.value.length}} / 50</mat-hint>
            <mat-error *ngIf="username.getError('required')">
                Username is required
            </mat-error>
            <mat-error *ngIf="username.getError('minlength')">
                Username must contain at least {{username.errors.minlength.requiredLength}} symbols
            </mat-error>
            <mat-error *ngIf="username.getError('pattern')">
                Whitespaces are not allowed
            </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field">
            <input formControlName="fullName" matInput placeholder="Full Name (optional)" type="text" autocomplete="off" [errorStateMatcher]="errorStateMatcher">
            <mat-hint align="start">
            </mat-hint>
            <mat-hint align="end">{{fullName.value.length}} / 50</mat-hint>
            <mat-error *ngIf="fullName.getError('pattern')">
                Whitespaces are not allowed
            </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field">
            <input formControlName="email" matInput placeholder="E-mail address" type="email" autocomplete="off" [errorStateMatcher]="errorStateMatcher">
            <mat-hint align="start">
            </mat-hint>
            <mat-hint align="end">{{email.value.length}} / 50</mat-hint>
            <mat-error *ngIf="email.getError('required')">
                Email address is required
            </mat-error>
            <mat-error *ngIf="email.getError('minlength')">
                Email contain at least {{email.errors.minlength.requiredLength}} symbols
            </mat-error>
            <mat-error *ngIf="email.getError('pattern')">
                Whitespaces are not allowed
            </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field">
            <input formControlName="password" matInput placeholder="Password" type="password" autocomplete="off" [errorStateMatcher]="errorStateMatcher">
            <mat-hint align="start">
            </mat-hint>
            <mat-hint align="end">{{password.value.length}} / 50</mat-hint>
            <mat-error *ngIf="password.getError('required')">
                Password is required
            </mat-error>
            <mat-error *ngIf="password.getError('minlength')">
                Password must contain at least {{password.errors.minlength.requiredLength}} symbols
            </mat-error>
            <mat-error *ngIf="password.getError('pattern')">
                Whitespaces are not allowed
            </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field">
            <input formControlName="confirmPassword" matInput placeholder="Confirm Password" type="password" autocomplete="off" [errorStateMatcher]="errorStateMatcher">
            <mat-hint align="start">
            </mat-hint>
            <mat-hint align="end">{{confirmPassword.value.length}} / 50</mat-hint>
            <mat-error *ngIf="confirmPassword.getError('required')">
                Confirm password is required
            </mat-error>
            <mat-error *ngIf="confirmPassword.getError('minlength')">
                Confirm password must contain at least {{confirmPassword.errors.minlength.requiredLength}} symbols
            </mat-error>
            <mat-error *ngIf="confirmPassword.getError('pattern')">
                Whitespaces are not allowed
            </mat-error>
        </mat-form-field>
        <div style="margin-top: 34px;">
            <button type="submit" style="width: 100%;" mat-raised-button color="primary">CREATE ACCOUNT</button>
        </div>
    </form>
</div>
