<div class="create-post-container" fxLayout="column" fxLayoutAlign="start start">
    <div class="upload-container" fxLayout="column" fxLayoutAlign="end start">
        <div class="attachment-container" fxLayout="row">
            <button class="square-button" mat-button (click)="fileInput.click()">
                <div style="width: 70px; height: 70px;" fxLayout="row" fxLayoutAlign="center center">
                    <mat-icon style="position:absolute;">add</mat-icon>
                </div>
            </button>
            <input #fileInput type="file" accept="image/*,video/*" ng2FileSelect [uploader]="uploader" hidden multiple/>
            <div class="attachment-preview-container mat-elevation-z1" *ngFor="let item of uploader.queue">
                <img class="attachment-preview-image" appImagePreview [image]="item?._file" alt="image-preview" *ngIf="!item.file.type.includes('video')">
                <video class="attachment-preview-video" *ngIf="item.file.type.includes('video')">
                    <source src="{{attachments[0].uri}}" *ngIf="attachments[0]">
                </video>
                <div class="attachment-progress-container" fxLayout="row" fxLayoutAlign="center center" *ngIf="!item.isUploaded">
                    <mat-progress-spinner [strokeWidth]="5" [diameter]="75" mode="determinate" value="{{item.progress}}" color="accent"></mat-progress-spinner>
                    <span class="progress">{{item.progress}}%</span>
                </div>
            </div>
        </div>
    </div>
    <div class="big-preview-container mat-elevation-z1" *ngIf="attachments.length > 0">
        <img class="big-preview" src="{{attachments[0].uri}}" alt="preview" *ngIf="attachments[0].type === 0">
        <video class="video-big-preview" width="400" height="400" *ngIf="attachments[0].type === 1" autoplay loop>
            <source src="{{attachments[0].uri}}">
        </video>
    </div>
    <div class="create-post-footer" *ngIf="uploader.queue.length > 0">
        <button class="submit-button" mat-raised-button color="accent" (click)="createPost()" [disabled]="uploader.isUploading">Create Post</button>
    </div>
</div>
