.upload-container {
    overflow-x: hidden;
}

.create-post-container {
    background-color: #FAFAFA;
    /* margin: -24px; */
    width: 400px;
}


/* .upload-button {
    background-color: white;
    padding: 50px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bolder;
    color: #444444;
} */

.square-button {
    height: 75px;
    width: 75px;
    min-width: 75px;
    border-radius: 3px;
    border: 1px dashed #444444;
    padding: 0;
    margin: 0 15px 0 0;
    display: inline-block;
}

.attachment-preview-image {
    height: 75px;
    width: 75px;
    object-fit: cover;
    overflow: hidden;
    position: absolute;
}

.caption-container {
    padding: 16px 0;
    width: 100%;
}

.caption-container label {
    font-size: 1.4em;
    font-weight: lighter;
    margin-bottom: 10px;
}

.caption {
    background: white;
    color: #444444;
    border: 1px solid #d8d8d8;
    padding: 12px;
    font-weight: 1.3em;
    font-weight: lighter;
}

.submit-button {
    width: 100%;
    text-transform: uppercase;
    font-weight: normal;
    padding: 3px;
}

.mat-headline {
    font-weight: lighter;
}

.attachment-container {
    position: relative;
    overflow-x: auto;
    width: 100%;
    padding: 5px 0 0 0;
    white-space: nowrap;
    display: inline-block !important;
}

.attachment-preview-container {
    width: 75px;
    height: 75px;
    margin-right: 15px;
    display: inline-block;
}

.attachment-progress-container {
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    width: 75px;
    height: 75px;
    z-index: 999;
}

.progress {
    font-size: 17px;
    font-weight: lighter;
    position: absolute;
    color: white;
}

.create-post-footer {
    margin-top: 15px;
    width: 100%;
}

md-progress-spinner {
    width: 65px !important;
    height: 65px !important;
}
