<div [ngClass]="{ 'media-container' : !isDialog }" fxLayout="row" fxLayoutAlign="center center">
    <div class="single-media" fxLayout="row" fxLayoutAlign="start stretch" *ngIf="media">
        <div mat-ripple class="media-attachment-container">
            <div class="media-attachment-buttons" fxLayout="row" fxLayoutAlign="space-between center" *ngIf="media.attachments.length > 1">
                <div>
                    <button mat-raised-button mat-icon-button *ngIf="media.activeAttachment > 0" (click)="previous()">
                        <mat-icon class="media-icon">chevron_left</mat-icon>
                    </button>
                </div>
                <div>
                    <button mat-raised-button mat-icon-button *ngIf="media.activeAttachment != media.attachments.length - 1" (click)="next()">
                        <mat-icon class="media-icon">chevron_right</mat-icon>
                    </button>
                </div>
            </div>
            <div (click)='play()' *ngFor="let attachment of media.attachments; let index = index;" [hidden]="index !== media.activeAttachment">
                <img class="attachment" src="{{attachment.uri}}" alt="media-image" *ngIf="attachment.type !== 1">
                <video class="attachment" *ngIf="attachment.type === 1" loop #player>
                    <source src="{{attachment.uri}}">
                </video>
            </div>
        </div>
        <div class="media-details-container" [ngClass]="{ 'dialog' : isDialog }" fxLayout="column">
            <div class="media-details-header" fxLayout="row" fxLayoutAlign="start center">
                <img class="media-avatar" [routerLink]="['/', media.user.username]" src="{{media.user.pictureUri}}" default="assets/images/user-default-image.png"
                    alt="profile">
                <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
                    <div class="media-details-info" fxLayout="column">
                        <a class="media-details-username" [routerLink]="['/', media.user.username]">{{media.user.username}}</a>
                        <div class="media-date">
                            <span class="media-details-created">{{media.created | amTimeAgo}}</span>
                        </div>
                    </div>
                    <button class="btn-relationships" mat-button *ngIf="currentUser && currentUser.id != media.user.id">FOLLOW</button>
                </div>
            </div>
            <div class="media-details-caption" *ngIf="media.caption">
                <a [routerLink]="['/', media.user.username]">
                    <strong>{{media.user.username}}</strong>
                </a>
                <app-caption caption="{{media.caption}}"></app-caption>
            </div>
            <div class="media-details-comments-container" fxLayout="column" fxFlex>
                <span class="media-details-comments-header">Comments</span>
                <app-comments style="font-size: 0.95em;" [media]="media"></app-comments>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" style="padding-bottom: 12px;">
                <div style="padding-right: 5px; border-right: 1px solid #6B738A; margin-right: 7px;">
                    <button class="like-button" mat-icon-button (click)="like()" *ngIf="currentUser">
                        <mat-icon class="mat-36 thin" [ngClass]="{ 'liked' : media.userHasLiked }" svgIcon="heart"></mat-icon>
                    </button>
                </div>
                <span class="likes-counter">
                    {{media.likesCount}} likes
                </span>
            </div>
            <div fxLayout="row" style="box-shadow: 0 -3px 8px -3px rgba(0, 0, 0, 0.26); margin: 0 -1.1rem -1.1rem -1.1rem;">
                <input class="media-details-comment-input" type="text" placeholder="Type your comment..." [(ngModel)]="text" (keydown.enter)="createComment()"
                />
            </div>
            <!-- <div class="media-details-footer" fxLayout="row" fxLayoutAlign="start center" *ngIf="currentUser">
                <div class="comment-box" fxLayout="row">
                    <input class="media-details-comment-input" type="text" placeholder="Type your comment..." [(ngModel)]="text" (keydown.enter)="createComment()">
                </div>
            </div> -->
        </div>
    </div>
</div>
