<div [ngClass]="{ 'media-details-container' : !isDialog }" fxLayout="row" fxLayoutAlign="center center" *ngIf="media">
    <div class="single-media" fxLayout="row" fxLayoutAlign="start stretch" *ngIf="!media.editing; else editingTemplate">
        <div mat-ripple class="media-details-attachment-container" (click)='play()'>
            <div class="navigation" fxLayout="row" fxLayoutAlign="space-between center" *ngIf="media.attachments.length > 1">
                <div>
                    <mat-icon class="mat-36" *ngIf="media.activeAttachment > 0" (click)="previous()">chevron_left</mat-icon>
                </div>
                <div>
                    <mat-icon class="mat-36" *ngIf="media.activeAttachment != media.attachments.length - 1" (click)="next()"Ï>chevron_right</mat-icon>
                </div>
            </div>
            <div *ngFor="let attachment of media.attachments; let index = index;">
                <div [hidden]="index !== media.activeAttachment" *ngIf="(media.activeAttachment === index && attachment.type === 1) || (attachment.type !== 1)">
                    <img class="media-details-attachment" [ngClass]="{ 'dialog' : isDialog}" src="{{attachment.uri}}" alt="media-image" *ngIf="attachment.type !== 1">
                    <video class="media-details-attachment" [ngClass]="{ 'dialog' : isDialog}" *ngIf="attachment.type === 1" loop #player>
                        <source src="{{attachment.uri}}">
                    </video>
                </div>
            </div>
        </div>
        <div class="media-details-info-container" fxLayout="column" *ngIf="!media.inspectingLikes; else inspectingLikesTemplate">
            <div>
                <div class="media-details-header" fxLayout="row" fxLayoutAlign="start center">
                    <img class="media-avatar" [routerLink]="['/', media.user.username]" src="{{media.user.pictureUri}}" default="assets/images/user-default-image.png" alt="profile">
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex>
                        <div fxLayout="row" fxLayoutAlign="space-between start" style="width: 100%;">
                            <div class="media-details-info" fxLayout="column">
                                <a class="media-details-username" [routerLink]="['/', media.user.username]">{{media.user.username}}</a>
                                <div class="media-date">
                                    <span class="media-details-created" matTooltip="{{media.created | date:'fullDate'}}" matTooltipPosition="right">{{media.created | timeAgo}}</span>
                                </div>
                            </div>
                            <mat-icon class="btn-icon mat-18" *ngIf="currentUser && currentUser.id === media.user.id" (click)="edit()">edit</mat-icon>
                        </div>
                    </div>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center" style="margin-top: 1.3rem;">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="mat-18" style="color: rgb(0,0,0,.85); margin-right: .25rem;" *ngIf="media.likesCount === 0 || media.likesCount > 3">favorite</mat-icon>
                    <app-likes [media]="media" (onClicked)="inspectLikes($event)"></app-likes>
                </div>
            </div>
            <div class="media-details-caption" *ngIf="media.caption">
                <a [routerLink]="['/', media.user.username]">
                    <strong>{{media.user.username}}</strong>
                </a>
                <app-caption caption="{{media.caption}}"></app-caption>
            </div>
            <div class="media-details-comments-container" fxLayout="column" fxFlex>
                <span class="media-details-comments-header">Comments</span>
                <div *ngIf="media.commentsCount === 0" fxLayout="column" fxLayoutAlign="center center" style="height: 100%;">
                    <span style="font-weight: normal; font-size: .9em; color: rgb(0,0,0,.6); letter-spacing: 1px; text-transform: uppercase;" *ngIf="media.allowComments">No comments yet</span>
                    <span style="font-weight: normal; font-size: .9em; color: rgb(0,0,0,.6); letter-spacing: 1px;" *ngIf="!media.allowComments">Commenting on this photo is restricted</span>
                </div>
                <app-comments #commentsComponent [media]="media"></app-comments>
            </div>
            <div style="box-sizing: border-box;">
                <div fxLayout="row" fxLayoutAlign="space-between center" style="border-top: 1px solid #d8d8d8; padding-top: .7rem;" *ngIf="!showCommentBox">
                    <div fxLayout="row" fxLayoutAlign="start center" *ngIf="currentUser">
                        <mat-icon class="btn-icon mat-24" [ngClass]="{ 'liked' : media.userHasLiked, 'btn-icon-pulse' : media.userHasLiked }" (click)="like()">favorite</mat-icon>
                        <mat-icon class="btn-icon mat-24" svgIcon="comment" style="margin-left: .7rem;" *ngIf="media.allowComments" (click)="showCommentBox = !showCommentBox"></mat-icon>
                    </div>
                    <mat-icon class="btn-icon mat-24" matTooltip="Share" matTooltipPosition="left" ngxClipboard [cbContent]="share()" (cbOnSuccess)="showToast('Copied to clipboard')">share</mat-icon>
                </div>
                <div fxLayout="row" *ngIf="showCommentBox" @content>
                    <input class="media-details-comment-box transition-content" placeholder="Type your comment..." type="text" [(ngModel)]="text" (keydown.enter)="createComment()">
                    <button mat-icon-button (click)="showCommentBox = !showCommentBox">
                        <mat-icon>clear</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #editingTemplate>
    <div class="single-media" fxLayout="row" fxLayoutAlign="start stretch">
        <div mat-ripple class="media-details-attachment-container">
            <div>
                <img class="media-details-attachment" [ngClass]="{ 'dialog' : isDialog}" src="{{updateMediaModel.preview.uri}}" alt="media-image" *ngIf="updateMediaModel.preview.type !== 1">
                <video class="media-details-attachment" [ngClass]="{ 'dialog' : isDialog}" *ngIf="updateMediaModel.preview.type === 1" loop #player>
                    <source src="{{updateMediaModel.preview.uri}}">
                </video>
            </div>
        </div>
        <div class="media-details-info-container" [ngClass]="{ 'dialog' : isDialog }" fxLayout="column">
            <div class="media-details-caption-edit" fxLayout="column">
                <div fxLayout="row" fxLayoutAlign="space-between center" style="padding-bottom: .5rem;">
                    <span style="font-weight: 800;">Edit caption</span>
                </div>
                <textarea type="text" rows="3" placeholder="Write a caption..." [(ngModel)]="updateMediaModel.caption"></textarea>
            </div>
            <div style="padding-top: 1rem;" fxLayout="column">
                <span style="font-weight: 900; padding-bottom: .5rem;">Comments settings</span>
                <mat-slide-toggle [(ngModel)]="updateMediaModel.allowComments" labelPosition="before">Allow comments</mat-slide-toggle>
            </div>
            <div style="padding-top: 1rem;" fxLayout="row" fxLayoutAlign="space-between center">
                <span style="font-weight: 900;">Manage attachments</span>
            </div>
            <div fxFlex>
                <div class="media-details-edit-attachments">
                    <div *ngFor="let attachment of updateMediaModel.attachments; let index = index;">
                        <div mat-ripple class="media-details-edit-item" [ngClass]="{ 'removed' : attachment.removed, 'selected' : attachment.id === updateMediaModel.coverId }" (click)="select(attachment)">
                            <div class="media-details-edit-overlay" fxLayout="row" fxLayoutAlign="end start">
                                <mat-icon class="btn-icon-light" (click)="removeAttachment(attachment)">clear</mat-icon>
                            </div>
                            <div class="media-details-edit-overlay-selected" fxLayout="row" fxLayoutAlign="center center">
                                <mat-icon class="mat-36">check</mat-icon>
                            </div>
                            <div class="media-details-edit-overlay-removed" fxLayout="column" fxLayoutAlign="center center">
                                <span style="letter-spacing: 1px; font-weight: 900;">REMOVED</span>
                                <button mat-icon-button color="primary" (click)="restoreRemovedAttachment(attachment)">
                                    <mat-icon>restore</mat-icon>
                                </button>
                            </div>
                            <img class="media-details-edit-thumbnail" src="{{attachment.uri}}" alt="attachment">
                        </div>
                    </div>
                </div>
            </div>
            <div style="border-top: 1px solid #d8d8d8; padding-top: .7rem;">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <button mat-raised-button color="primary" (click)="update()">{{updateMediaModel.remove ? 'REMOVE' : 'SAVE' }}</button>
                        <button mat-button (click)="cancel()">CANCEL</button>
                    </div>
                    <button mat-icon-button color="primary" (click)="remove()">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #inspectingLikesTemplate>
    <div class="media-details-info-container" fxLayout="column">
        Likes
    </div>
</ng-template>
