.media-details-container {
    height: calc(100vh - 228px);
}

.media-details-container .single-media {
    border: 1px solid #efefef;
    border-radius: 2px;
    background: white;
}

.media-details-info-container {
    width: 400px;
    padding: .7rem;
}

.media-details-header>:first-child {
    margin-right: .75rem;
}

.media-details-comments-container {
    margin-top: 1rem;
    overflow-y: auto;
}

.media-details-comments-header {
    font-size: 1em;
    color: #444444;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.media-details-footer {
    padding-top: 5px;
}

.comment-box {
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    margin-left: 0px;
    width: 100%;
    color: #d8d8d8;
}

.comment-box:hover {
    border: 1px solid grey;
    color: grey;
}

.comment-box:hover .send-button {
    color: #444444;
}

.comment-box:hover .send-button:disabled {
    color: grey;
}

.media-details-caption {
    font-size: 0.95em;
    line-height: 1.6em;
    margin-top: .7rem;
}

.media-date {
    padding: 0;
}

.media-actions-wrapper {
    width: 100%;
}

.media-details-actions {
    border: 2px solid #efefef;
    border-radius: 4px;
    padding: 3px;
}

.media-avatar {
    width: 50px;
    height: 50px;
    border-radius: 90px;
    object-fit: cover;
    outline: none;
}

.media-details-info {
    line-height: 1.5;
}

.media-details-username {
    font-size: 1.2em;
    font-weight: normal;
}

.attachment {
    width: auto;
    height: auto;
    max-height: calc(100vh - 75px);
    max-width: calc(100vw - 800px);
    min-height: 300px;
    min-width: auto;
    pointer-events: none;
    user-select: none;
    vertical-align: bottom;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.media-details-comment-input {
    background: inherit;
    font-weight: lighter;
    outline: none;
    border: 1px solid #d8d8d8;
    border-radius: 2px;
    padding: .7rem .7rem;
    font-size: .9em;
}

.media-attachment-container {
    position: relative;
    height: auto;
}

.media-attachment-container .media-attachment-buttons {
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 10px 0 10px;
}

.media-attachment-container:not([disabled]):hover .media-attachment-buttons {
    opacity: 1;
}

.media-details-created {
    font-size: 0.8em;
    color: #444444;
    font-weight: lighter;
    /* text-transform: uppercase; */
    /* letter-spacing: 1px; */
}

.likes-counter {
    font-size: .9em;
    cursor: pointer;
    font-weight: normal;
}

.liked {
    color: #e91e63;
}


/* editing */

.media-details-caption-edit textarea {
    resize: none;
    width: 100%;
    border: 1px solid #d8d8d8;
    border-radius: 2px;
    padding: .5rem;
    box-sizing: border-box;
    color: #444444;
    outline: none;
}

.media-details-edit-attachments {
    padding: .7rem 0;
    overflow-y: auto;
    width: 100%;
    max-width: calc(400px - .7rem - .7rem);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 5px;
}

.media-details-edit-item {
    position: relative;
    overflow: hidden;
}

.media-details-edit-item:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.media-details-edit-thumbnail {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: bottom;
    border-radius: 2px;
}

.media-details-edit-item .media-details-edit-after {
    background: rgba(0, 0, 0, .7);
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    z-index: 100;
    cursor: default;
    border-radius: 2px;
    opacity: 0;
}

.media-details-edit-item:not(removed):hover .media-details-edit-after {
    opacity: 1;
}

.media-details-edit-item.removed .media-details-edit-removed {
    background: rgba(255, 255, 255, .7);
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    z-index: 999;
    cursor: default;
    border-radius: 2px;
    opacity: 1;
}


.media-details-edit-removed a {
    color: #e91e63;
}
