<div [ngClass]="{ 'media-container' : !isDialog }" fxLayout="row" fxLayoutAlign="center center">
    <div class="single-media" fxLayout="row" fxLayoutAlign="start stretch" *ngIf="media">
        <div mat-ripple class="media-attachment-container">
            <div class="media-attachment-buttons" fxLayout="row" fxLayoutAlign="space-between center" *ngIf="media.attachments.length > 1">
                <div>
                    <button mat-raised-button mat-icon-button *ngIf="media.activeAttachment > 0" (click)="previous()">
                        <mat-icon class="media-icon">chevron_left</mat-icon>
                    </button>
                </div>
                <div>
                    <button mat-raised-button mat-icon-button *ngIf="media.activeAttachment != media.attachments.length - 1" (click)="next()">
                        <mat-icon class="media-icon">chevron_right</mat-icon>
                    </button>
                </div>
            </div>
            <div (click)='play()' *ngFor="let attachment of media.attachments; let index = index;" [hidden]="index !== media.activeAttachment">
                <img class="attachment" src="{{attachment.uri}}" alt="media-image" *ngIf="attachment.type !== 1">
                <video class="attachment" *ngIf="attachment.type === 1" loop #player>
                    <source src="{{attachment.uri}}">
                </video>
            </div>
        </div>
        <div class="media-details-container" fxLayout="column" *ngIf="!media.editing; else editingTemplate">
            <div>
                <div class="media-details-header" fxLayout="row" fxLayoutAlign="start center" style="padding-bottom: .7rem; border-bottom: 1px solid #d8d8d8;">
                    <img class="media-avatar" [routerLink]="['/', media.user.username]" src="{{media.user.pictureUri}}" default="assets/images/user-default-image.png" alt="profile">
                    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
                        <div class="media-details-info" fxLayout="column">
                            <a class="media-details-username" [routerLink]="['/', media.user.username]">{{media.user.username}}</a>
                            <div class="media-date">
                                <span class="media-details-created">{{media.created | timeAgo}}</span>
                            </div>
                        </div>
                        <button class="btn-relationships" mat-button *ngIf="currentUser && currentUser.id !== media.user.id">FOLLOW</button>
                        <button mat-icon-button *ngIf="currentUser && currentUser.id === media.user.id" (click)="edit()">
                            <mat-icon class="btn-icon mat-24">edit</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center" style="margin-top: 1.3rem;">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="mat-18" style="color: #444444;">favorite</mat-icon>
                    <span style="font-weight: bold; font-size: .9em; color: #444444; margin-left: .5rem;">{{media.likesCount}} likes</span>
                </div>
            </div>
            <div class="media-details-caption" *ngIf="media.caption">
                <a [routerLink]="['/', media.user.username]">
                    <strong>{{media.user.username}}</strong>
                </a>
                <app-caption caption="{{media.caption}}"></app-caption>
            </div>
            <div class="media-details-comments-container" fxLayout="column" fxFlex>
                <span class="media-details-comments-header">Comments</span>
                <div *ngIf="media.commentsCount === 0" fxLayout="column" fxLayoutAlign="center center" style="height: 100%;">
                    <span style="font-weight: normal; font-size: .9em; color: gray; letter-spacing: 1px; text-transform: uppercase;">No comments yet</span>
                </div>
                <app-comments style="font-size: 0.95em;" [media]="media" *ngIf="media.commentsCount > 0"></app-comments>
            </div>
            <div>
                <div fxLayout="row" fxLayoutAlign="space-between center" style="border-top: 1px solid #d8d8d8; padding-top: .7rem;">
                    <div fxLayout="row" fxLayoutAlign="start center" *ngIf="currentUser">
                        <mat-icon [@tdJello]="bounceState" class="btn-icon mat-24" [ngClass]="{ 'liked' : media.userHasLiked }" (click)="like()">favorite</mat-icon>
                        <mat-icon class="btn-icon mat-24" svgIcon="comment" style="margin-left: .7rem;"></mat-icon>
                    </div>
                    <mat-icon class="btn-icon mat-24" style="margin-left: .7rem;">share</mat-icon>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #editingTemplate>
    <div class="media-details-container" [ngClass]="{ 'dialog' : isDialog }" fxLayout="column">
        <div class="media-details-caption-edit" fxLayout="column">
            <span style="padding-bottom: .5rem; font-weight: bold;">Edit caption</span>
            <textarea type="text" rows="5" placeholder="Write a caption..." [(ngModel)]="updateMediaModel.caption"></textarea>
        </div>
        <div class="media-details-edit-attachments" fxFlex>
            <div *ngFor="let attachment of media.attachments; let index = index;">
                <div class="media-details-edit-item">
                    <img class="media-details-edit-thumbnail" src="{{attachment.uri}}" alt="attachment">
                    <div class="media-details-edit-after" fxLayout="row" fxLayoutAlign="space-between center">
                        <div style="position: absolute; right: 0; top: 0;">
                            <mat-icon class="btn-icon-light">clear</mat-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="border-top: 1px solid #d8d8d8; padding-top: .7rem;">
            <div fxLayout="row" fxLayoutAlign="start center">
                <button mat-raised-button color="primary" (click)="update()">SAVE</button>
                <button mat-button (click)="cancel()">CANCEL</button>
            </div>
        </div>
    </div>
</ng-template>
