.single-post {
    position: relative;
    border-radius: 2px;
    color: #444444;
}

.media-container {
    height: calc(100vh - 75px);
    padding: 25px;
}

.media-details-container {
    width: 400px;
    padding-left: .7rem;
}

.media-details-container.dialog {
    padding: .7rem;
}

.media-details-header>:first-child {
    margin-right: .75rem;
}

.media-details-comments-container {
    margin-top: 1rem;
    overflow-y: auto;
}

.media-details-comments-header {
    font-size: 1em;
    color: #444444;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.media-details-footer {
    padding-top: 5px;
}

.comment-box {
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    margin-left: 0px;
    width: 100%;
    color: #d8d8d8;
}

.comment-box:hover {
    border: 1px solid grey;
    color: grey;
}

.comment-box:hover .send-button {
    color: #444444;
}

.comment-box:hover .send-button:disabled {
    color: grey;
}

.media-details-caption {
    font-size: 0.95em;
    line-height: 1.6em;
    margin-top: .7rem;
}

.media-date {
    padding: 0;
}

.media-actions-wrapper {
    width: 100%;
}

.media-details-actions {
    border: 2px solid #efefef;
    border-radius: 4px;
    padding: 3px;
}

.media-avatar {
    width: 50px;
    height: 50px;
    border-radius: 90px;
    object-fit: cover;
    outline: none;
}

.media-details-info {
    line-height: 1.1;
}

.media-details-username {
    font-size: 1.2em;
    font-weight: normal;
}

.btn-relationships {
    color: #444444;
    background-color: #efefef;
    border-radius: 2px;
    line-height: 27px;
}

.attachment {
    width: auto;
    height: auto;
    max-height: calc(100vh - 75px);
    max-width: calc(100vw - 800px);
    min-height: 300px;
    min-width: auto;
    pointer-events: none;
    user-select: none;
    vertical-align: bottom;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.media-details-comment-input {
    background: inherit;
    font-weight: lighter;
    outline: none;
    border: 1px solid #d8d8d8;
    border-radius: 2px;
    padding: .7rem .7rem;
    font-size: .9em;
}

.media-attachment-container {
    position: relative;
    height: auto;
}

.media-attachment-container .media-attachment-buttons {
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 10px 0 10px;
}

.media-attachment-container:not([disabled]):hover .media-attachment-buttons {
    opacity: 1;
}

.media-details-created {
    font-size: 0.8em;
    color: #444444;
    font-weight: lighter;
    /* text-transform: uppercase; */
    /* letter-spacing: 1px; */
}

.likes-counter {
    font-size: .9em;
    cursor: pointer;
    font-weight: normal;
}

.liked {
    color: #e91e63;
}
