@media screen and (max-width: 500px) {
    .settings-container .btn-default {
        width: 100%;
    }
}

.settings-header {
    max-width: 960px;
    width: 100%;
    padding-bottom: 2.8rem;
}

.settings-header__title {
    font-weight: lighter;
}

.settings-container {
    max-width: 600px;
    width: 100%;
    color: rgb(0, 0, 0, .86);
    box-sizing: border-box;
    position: relative;
}

.settings-container__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .65);
    z-index: 999;
    border-radius: 2px;
}

.settings-container img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}

.settings__item {
    position: relative;
    margin-top: 2rem;
    font: inherit;
}

.settings-container .disabled {
    color: rgba(0, 0, 0, 0.38);
}

.settings__item h4 {
    padding-bottom: 1.4rem;
}

.settings__item a {
    color: #e91e63;
    cursor: pointer;
}

.body-1 {
    font-weight: bold;
    color: rgb(0, 0, 0, .86);
    padding-bottom: .25rem;
    display: block;
}

.settings__caption {
    color: rgb(0, 0, 0, .65);
    line-height: 1.5;
    padding-bottom: 1.4rem;
}

textarea.bio {
    line-height: 2;
    resize: none;
    text-align: justify;
}

div.settings-image {
    box-sizing: border-box;
    position: relative;
}

div.settings-image .thumbnail-big {
    vertical-align: bottom;
}

div.settings-image .change-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: #ffffff;
    opacity: 0;
    z-index: 100;
    border-radius: 50%;
    -webkit-transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -ms-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
}

div.settings-image:not([disabled]):hover .change-overlay {
    cursor: pointer;
    background: rgba(0, 0, 0, .5);
    opacity: 1;
}

.settings-container .btn-deactivate {
    min-width: 200px;
    margin-top: .7rem;
}

::ng-deep .btn-deactivate .mat-button-focus-overlay {
    background-color: transparent !important;
}
