.error {
    text-align: center;
    color: #e91e63;
}

.error-container {
    margin-top: 20px;
}

.create-account-link {
    color: #e91e63;
    font-size: 0.9em;
}

.forgot-password-link {
    color: #444444;
}
