<div class="top-container" fxLayout="row" fxLayoutAlign="center start">
    <h1 class="title">PhotoCloud</h1>
</div>
<div class="content" fxLayout="column" fxLayoutAlign="center center">
    <form class="form z-depth-1" [ngClass]="{ 'overlay' : isLoading }" fxLayout="column" (ngSubmit)="signIn()" autocomplete="off">
        <div class="form-overlay">
        </div>
        <md-progress-bar color="primary" mode="indeterminate" *ngIf="isLoading"></md-progress-bar>
        <div class="md-padding" fxLayout="column">
            <span class="mat-headline">Sign In</span>
            <span class="mat-subhead md-description">to continue to PhotoCloud</span>
        </div>
        <div fxLayout="column">
            <md-input-container fxFlex>
                <input mdInput placeholder="Username" type="text" [(ngModel)]="account.username" name="username" autocomplete="off">
            </md-input-container>
            <md-input-container fxFlex>
                <input mdInput placeholder="Password" type="password" [(ngModel)]="account.password" name="password" autocomplete="off">
            </md-input-container>
        </div>
        <div class="error-container" fxLayout="row" fxLayoutAlign="center center">
            <span class="mat-subhead error" *ngIf="errorMessage">{{errorMessage}}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center">
            <button md-raised-button color="accent" type="sumbit">Sign In</button>
        </div>
    </form>
</div>
