@import '~@angular/material/theming';
@import '~@covalent/core/theming/all-theme';
@include mat-core();
$primary: mat-palette($mat-pink);
$accent: mat-palette($mat-blue, 500, 900, A100);
$warn: mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);
@include covalent-theme($theme);
@include angular-material-theme($theme);
