<div class="change-password-container">
    <div style="width:100%; color:rgb(0,0,0,.85);" fxLayout="row" fxLayoutAlign="space-between center">
        <span style="font-size: 1.2em; font-weight: bold; letter-spacing: 1px; text-transform: uppercase;">Change Password</span>
        <button mat-icon-button (click)="close()" tabindex="-1">
            <mat-icon>clear</mat-icon>
        </button>
    </div>
    <form class="form" [formGroup]="passwordFormGroup">
        <mat-form-field class="form-field">
            <input formControlName="oldPassword" #oldPasswordInput matInput placeholder="Current password" type="password" autocomplete="off" [errorStateMatcher]="errorStateMatcher">
            <mat-error *ngIf="oldPassword.getError('minlength')">
                Old password must contain at least {{password.errors.minlength.requiredLength}} symbols
            </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field">
            <input formControlName="password" #passwordInput matInput placeholder="New password" type="password" autocomplete="off" [errorStateMatcher]="errorStateMatcher">
            <mat-error *ngIf="password.getError('minlength')">
                Password must contain at least {{password.errors.minlength.requiredLength}} symbols
            </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field">
            <input formControlName="confirmPassword" #confirmPasswordInput matInput placeholder="Confirm password" type="password" autocomplete="off" [errorStateMatcher]="errorStateMatcher">
            <mat-error *ngIf="confirmPassword.getError('minlength')">
                Confirm password must contain at least {{confirmPassword.errors.minlength.requiredLength}} symbols
            </mat-error>
            <mat-error *ngIf="confirmPassword.getError('mismatch')">
                Passwords do not match
            </mat-error>
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="end center">
            <button mat-raised-button color="primary" type="submit" [disabled]="!passwordFormGroup.valid || !passwordFormGroup.dirty">CHANGE PASSWORD</button>
        </div>
    </form>
</div>
