.change-password-container {
    box-sizing: border-box;
    background-color: #f7f9fa;
}

.form {
    padding: 2.7rem .7rem 2.7rem .7rem;
    /* border-top: 1px solid #efefef; */
    font-size: .9em;
}
