<div class="notifications" fxLayout="column">
    <div>
        <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
            <h4>{{title}}</h4>
            <button mat-icon-button (click)="getNotifications()">
                <mat-icon class="btn-icon mat-18" [ngClass]="{ 'disabled' : isLoading }" svgIcon="refresh"></mat-icon>
            </button>
        </div>
    </div>
    <div class="items">
        <div class="notification" *ngFor="let notification of page?.data.slice(0, 4);" fxLayout="row" fxLayoutAlign="start center">
            <img src="{{notification.user.pictureUri}}">
            <div class="info" fxLayout="column">
                <span>
                    <a [routerLink]="[ '/', notification.user.username]">{{notification.user.username}}</a> {{notification.activityType | activity}}
                </span>
                <span class="date" matTooltip="{{notification.date | date:'fullDate'}}" matTooltipPosition="after">{{notification.date | timeAgo}}</span>
            </div>
        </div>
    </div>
    <div class="footer" *ngIf="page?.data.length > 4">
        <button mat-button color="primary" (click)="close($event)">View all notifications</button>
    </div>
</div>
