.notifications {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-y: hidden;
    color: rgb(0, 0, 0, .86);
    background: white;
    position: relative;
}

.notifications .header {
    box-sizing: border-box;
    padding: .7rem .7rem 1.4rem;
    /* border-bottom: 1px solid #eaeaea; */
}

.notifications .header .actions>* {
    margin-right: 1.4rem;
}

.notifications .header .actions>:last-child {
    margin-right: 0;
}

.notifications .header .actions a {
    cursor: pointer;
    font-size: .9em;
    font-weight: bold;
}

.notifications .header .actions a:not(:hover) {
    color: rgb(0, 0, 0, .65);
}

/* .notifications .header .actions a:hover {
    color: rgb(0, 0, 0, .86);
} */

.notifications .header .people {
    margin-right: 1.4rem;
    cursor: pointer;
    color: rgb(0, 0, 0, .65);
}

.notifications .loader {
    background: #e91e63;
    /* padding: .7rem 0; */
    height: 50px;
    position: relative;
}

.notifications .loader .active {}

::ng-deep .notifications .loader>.mat-spinner circle {
    stroke: rgb(255, 255, 255, .8);
}

.notifications .empty {
    text-align: center;
    padding: .7rem;
}

.notifications .empty span {
    font-size: .9em;
}

.notifications .items {
    box-sizing: border-box;
    position: relative;
}

.notifications .items .notification {
    padding: .7rem;
    width: 100%;
    border-left: 3px solid transparent;
    position: relative;
    -webkit-transition: background-color .25s ease-in-out, border-left-color .25s ease-in-out;
    -moz-transition: background-color .25s ease-in-out, border-left-color .25s ease-in-out;
    -ms-transition: background-color .25s ease-in-out, border-left-color .25s ease-in-out;
    -o-transition: background-color .25s ease-in-out, border-left-color .25s ease-in-out;
    transition: background-color .25s ease-in-out, border-left-color .25s ease-in-out;
}

.notifications .items .notification.unread {
    background-color: rgb(34, 149, 243, .1);
}

.notifications .items .notification:hover {
    border-left-color: #e91e63;
}

.notifications .items .notification:not(.unread):hover {
    background-color: #fafafa;
}

.notifications .items .notification .user-thumbnail {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.notifications .items .notification .media-thumbnail {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 2px;
}

.notifications .items .notification .notification-info {
    color: rgb(0, 0, 0, .65);
    padding-left: .7rem;
    font-size: .9em;
    font-weight: 600;
    line-height: 1.7;
    width: 100%;
}

.notifications .items .notification .notification-info a {
    color: rgb(0, 0, 0, .86);
    font-weight: bold;
}

.notifications .items .notification .notification-info .date {
    color: rgb(0, 0, 0, .65);
    margin: 0 auto 0 0;
    font-weight: lighter;
}

.notifications .footer {
    box-sizing: border-box;
    border-top: 1px solid #eaeaea;
}

.notifications .footer button {
    width: 100%;
}
