<div class="notifications-container" fxLayout="column">
    <div style="border-bottom: 1px solid #eaeaea; padding: .5rem .7rem;" fxLayout="row" fxLayoutAlign="space-between center">
        <h3>Notifications</h3>
        <a style="font-size: .9em; color: rgb(0,0,0,.3)">View all</a>
    </div>
    <div style="padding: .5rem .7rem; overflow-y: scroll;">
        <div *ngFor="let item of page?.data" fxLayout="row" fxLayoutAlign="start center" style="padding: .7rem 0; width: 100%; border-bottom: 1px solid #eaeaea;">
            <img style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover;" src="{{item.user.pictureUri}}">
            <div fxLayout="column" style="color: rgb(0, 0, 0, .65); padding-left: .7rem; font-size: .9em; font-weight: 600; line-height: 1.7;">
                <span>
                    <a style="color: rgb(0, 0, 0, .85); font-weight: bold;" [routerLink]="[ '/', item.user.username]">{{item.user.username}}</a> started following you
                </span>
                <span style="color: rgb(0, 0, 0, .3); text-transform: uppercase; font-size: .9em; font-weight: bold;">{{item.date | timeAgo}}</span>
            </div>
        </div>
    </div>
</div>
