<div class="notifications" fxLayout="column">
    <div>
        <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
            <h3>{{title}}</h3>
            <button mat-icon-button (click)="getNotifications()">
                <mat-icon class="btn-icon mat-18" [ngClass]="{ 'disabled' : isLoading }" svgIcon="refresh"></mat-icon>
            </button>
        </div>
    </div>
    <div class="items" *ngIf="page?.data?.length">
        <div class="notification" *ngFor="let notification of page?.data.slice(0, 4);" fxLayout="row" fxLayoutAlign="start start">
            <a [routerLink]="['/', notification.user.username]">
                <img class="user-thumbnail" src="{{notification.user.pictureUri}}" alt="user-thumbnail">
            </a>
            <div class="notification-info" fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="column">
                    <span>
                        <a [routerLink]="[ '/', notification.user.username]">{{notification.user.username}}</a> {{notification.activityType | activity}}
                    </span>
                    <span class="date" matTooltip="{{notification.date | date:'fullDate'}}" matTooltipPosition="after">{{notification.date | timeAgo}}</span>
                </div>
                <a [ngSwitch]="notification.media.attachments[0].type" *ngIf="notification.media" [routerLink]="['/p/', notification.media.id]">
                    <img *ngSwitchCase="'0'" class="media-thumbnail" src="{{notification.media.attachments[0].uri}}" alt="media-thumbnail">
                    <video *ngSwitchCase="'1'" class="media-thumbnail">
                        <source src="{{notification.media.attachments[0].uri}}">
                    </video>
                </a>
            </div>
        </div>
    </div>
    <div class="footer" *ngIf="page?.data.length > 4">
        <button mat-button color="primary" (click)="close($event)">View all notifications</button>
    </div>
</div>
