.notifications {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-y: hidden;
    color: rgb(0, 0, 0, .85);
    background: white;
}

.notifications .header {
    box-sizing: border-box;
    border-bottom: 1px solid #eaeaea;
    padding: .7rem;
}

.notifications .header a {
    font-size: .9em;
    color: rgb(0, 0, 0, .3)
}

.notifications .items {
    box-sizing: border-box;
    padding: 0 .7rem 0rem;
}

.notifications .items .notification {
    padding: .7rem 0;
    width: 100%;
    border-bottom: 1px solid #eaeaea;
}

.notifications .items :last-child {
    border-bottom: none;
}

.notifications .items .notification img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.notifications .items .notification .info {
    color: rgb(0, 0, 0, .65);
    padding-left: .7rem;
    font-size: .9em;
    font-weight: 600;
    line-height: 1.7;
}

.notifications .items .notification .info a {
    color: rgb(0, 0, 0, .85);
    font-weight: bold;
}

.notifications .items .notification .info .date {
    color: rgb(0, 0, 0, .3);
    margin: 0 auto 0 0;
    font-size: .8em;
    font-weight: lighter;
}

.notifications .footer {
    box-sizing: border-box;
    border-top: 1px solid #eaeaea;
}

.notifications .footer button {
    width: 100%;
}
