<div class="notifications-box" fxLayout="column">
    <div class="notifications-header" fxlayout="row" fxLayoutAlign="space-between center">
        <span class="notification-box-title">Your notifications</span>
        <button mat-icon-button (click)="close()" tabindex="-1">
            <mat-icon>clear</mat-icon>
        </button>
    </div>
    <div class="notifications-content" fxLayout="column" fxLayoutAlign="start start" fxFlex *ngIf="incommingRequests && incommingRequests.length !== 0; else noRequests">
        <div class="incomming-request" *ngFor="let user of incommingRequests" fxLayout="row">
            <img class="incomming-request-avatar" [routerLink]="['/', user.username]" src="{{user.pictureUri}}" alt="user-image" default="assets/images/user-default-image.png">
            <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
                <a class="incomming-request-username" [routerLink]="['/', user.username]">{{user.username}}</a>
                <div *ngIf="!user.isConfirmed && !user.isRemoved">
                    <button mat-button (click)="removeIncommingRequest(user)" [disabled]="user.isRemovingIncommingRequest">REMOVE</button>
                    <button mat-raised-button color="primary" (click)="confirmIncommingRequest(user)" [disabled]="user.isConfirmingIncommingRequest">CONFIRM</button>
                </div>
                <div *ngIf="user.isConfirmed">
                    <mat-icon class="mat-36 primary">check</mat-icon>
                </div>
                <div *ngIf="user.isRemoved">
                    <mat-icon class="mat-36 primary">clear</mat-icon>
                </div>
            </div>
        </div>
    </div>
    <ng-template #noRequests>
        <div class="notifications-content" fxLayout="column" fxLayoutAlign="center center" fxFlex>
            <mat-spinner [strokeWidth]="5" [diameter]="50" *ngIf="isLoading"></mat-spinner>
            <span *ngIf="!isLoading" [@enterTransition]>No Incomming Requests</span>
            <button mat-icon-button (click)="getIncommingRequests()" *ngIf="!isLoading" [@enterTransition]>
                <mat-icon class="mat-36" svgIcon="refresh">refresh</mat-icon>
            </button>
        </div>
    </ng-template>
</div>
