.notifications-box {
    width: 420px;
    height: 100vh;
    padding: 0 .7rem;
}

.notifications-header {
    padding: .7rem 0;
    /* border-bottom: 1px solid #d8d8d8; */
}

.notification-box-title {
    font-size: 1.2em;
    font-weight: bold;
    color: #444444;
}

.notifications-content {
    padding: 0 .7rem;
    line-height: 2;
}

.incomming-request {
    margin-top: .7rem;
    width: 100%;
}

.incomming-request-username {
    margin-left: .7rem;
    outline: none;
}

.incomming-request-avatar {
    border-radius: 90px;
    width: 60px;
    height: 60px;
    object-fit: cover;
    overflow: hidden;
    outline: none;
}

.confirm-button {
    margin-right: 5px;
}
