<div class="users-dialog-container" fxLayout="column">
    <div class="users-title" fxLayout="row" fxLayoutAlign="space-between center">
        <h1>{{title}}</h1>
        <mat-icon class="btn-icon mat-18" (click)="close()" tabindex="-1">clear</mat-icon>
    </div>
    <!-- <div class="search-box">
        <input type="text" placeholder="Search" autocomplete="off" spellcheck="false">
    </div> -->
    <div class="user-dealog-items">
        <div class="user-dealog-items-empty-container" fxLayout="row" fxLayoutAlign="center center" *ngIf="page.data?.length === 0">
            <mat-spinner [diameter]="40" [strokeWidth]="2" *ngIf="isLoading"></mat-spinner>
            <p *ngIf="!isLoading">Users not found</p>
        </div>
        <div [@listAnimation]="page.data.length">
            <div class="user-item" *ngFor="let user of page.data; let index = index;" fxLayout="row">
                <img class="user-avatar" [routerLink]="['/', user.username]" (click)="close()" src="{{user.pictureUri}}" default="assets/images/user-default-image.png" alt="profile">
                <div class="users-details-container" fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
                    <div class="user-name" fxLayout="column">
                        <a class="user-username" [routerLink]="['/', user.username]" (click)="close()">{{user.username}}</a>
                        <a class="user-fullname" [routerLink]="['/', user.username]" (click)="close()">{{user.fullName}}</a>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center end">
                        <button mat-button class="btn-relationships" (click)="modifyRelationship(user)" [disabled]="user.isModifyingRelationship" *ngIf="currentUser && currentUser.id !== user.id && (user.isActive || user.relationship?.outgoingStatus === 1 || user.relationship?.outgoingStatus === 2)">
                            {{user.relationship?.outgoingStatus | relationshipAction | uppercase }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" *ngIf="page.hasMoreItems" style="padding: .7rem; background: white;">
            <button class="btn-default" mat-button (click)="getUsers()" [disabled]="isLoading">LOAD MORE</button>
        </div>
    </div>
</div>
