.users-dialog-container {
    height: 100%;
    box-sizing: border-box;
    overflow-y: hidden;
    color: rgb(0, 0, 0, .86);
    background: #fafafa;
}

.users-dialog-container .users-title {
    padding: .75rem;
    /* border-bottom: 1px solid #f2f2f2; */
}

.users-dialog-container .search-box {
    padding: .75rem;
    box-sizing: border-box;
    width: 100%;
}

.users-dialog-container .search-box input {
    box-sizing: border-box;
    width: 100%;
    border: none;
    /* border-radius: 2px; */
    padding: .7rem;
    outline: none;
    background: rgb(240, 240, 240);
}

.users-dialog-container .users-title h1 {
    font-weight: bold;
    font-size: 1.1em;
}

.user-dealog-items-empty-container {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: -.7rem;
    padding: 0;
}

.user-dealog-items-empty-container {
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(0, 0, 0, .65);
}

.user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 90px;
    object-fit: cover;
    outline: none;
    cursor: pointer;
}

.users-details-container {
    padding-left: 10px;
}

.users-details-container .user-name {
    line-height: 1.5;
}

.user-username {
    font-weight: bold;
}

.user-fullname {
    color: rgb(0, 0, 0, .65);
    font-size: .9em;
    font-weight: lighter;
    letter-spacing: 1px;
}

.user-dealog-items {
    height: 100%;
    overflow-y: scroll;
    position: relative;
    border-top: 1px solid #efefef;
}

.user-item {
    padding: .7rem .7rem;
    box-sizing: border-box;
    position: relative;
    border-bottom: 1px solid #efefef;
}

/* .user-dealog-items::-webkit-scrollbar {
    display: none;
} */

/* .user-item:hover {
    background: #fefefe;
} */

/* .user-item:nth-child(even) {
    background: #fefefe;
}

.user-item:nth-child(odd) {
    background: #f8fbff;
} */
