<!-- <ng-progress [thick]="true" [showSpinner]="false" [trickleSpeed]="200" [speed]="300" color="#e91e63"></ng-progress> -->
<mat-progress-bar mode="indeterminate" style="position: fixed; top: 0; z-index: 999; height: 2px;" *ngIf="progress.isLoading"></mat-progress-bar>
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav style="overflow-y: hidden;" #notificationsSidenav position="end">
        <app-user-requests (onClosing)="closeNotifications($event)" *ngIf="notificationsSidenav.opened"></app-user-requests>
    </mat-sidenav>
    <div class="my-content" fxLayout="column">
        <div>
            <app-toolbar *ngIf="renderToolbar" (onOpenRequests)="openRequests($event)"></app-toolbar>
        </div>
        <div class="router-container" [ngClass]="{ 'toolbar' : renderToolbar }">
            <router-outlet></router-outlet>
        </div>
        <app-footer *ngIf="renderFooter"></app-footer>
    </div>
</mat-sidenav-container>

<div style="z-index: 999; top: auto; right: 0; bottom: 0; left: auto; position: fixed; height: 100px; width: 100%; background-color: rgba(0,0,0,.65);" fxLayout="row" fxLayoutAlign="center center" *ngIf="!currentUser && !initialLoad && renderToolbar && showAuthenticationBar">
    <mat-icon class="btn-icon" style="position:absolute; right: .5rem; top: .5rem; color: white;" (click)="hideAuthenticationBar()">clear</mat-icon>
    <div style="width: 960px;" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="mat-48" style="color: white;">account_circle</mat-icon>
            <div style="line-height: 1.5; margin-left: 1.4rem;" fxLayout="column">
                <span style="color: white;">Sign Up for PhotoCloud</span>
                <div style="max-width: 400px; padding-top: .25rem;">
                    <span style="color: #999; line-height: 1.25; font-weight: lighter;">Sign up to see photos and videos from friends and discover other accounts you'll love.</span>
                </div>
            </div>
        </div>
        <div>
            <button mat-raised-button color="accent" routerLink="account/create">Sign Up</button>
            <button mat-button color="accent" routerLink="account/signin">Sign In</button>
        </div>
    </div>
</div>
