* {
    color: #444444;
}

h1 {
    font-weight: lighter;
}

::ng-deep .mat-form-field-underline {
    background: #d8d8d8;
}

.root-container {
    min-height: 100vh;
    overflow-y: hidden;
}

.my-content {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    overflow-y: hidden;
}

.router-container {
    min-height: calc(100vh - 128px);
    overflow-y: hidden;
    padding: 3rem 0;
    box-sizing: border-box;
}

.mat-fab-bottom-left {
    top: auto;
    right: 35px;
    bottom: 35px;
    right: auto;
    position: fixed;
}
