<ng-progress [thick]="true" [showSpinner]="false" [trickleSpeed]="200" [speed]="300" color="#e91e63"></ng-progress>
<mat-sidenav-container>
    <mat-sidenav #notificationsSidenav align="end">
        <app-notifications (onClosing)="closeNotifications($event)" *ngIf="notificationsSidenav.opened"></app-notifications>
    </mat-sidenav>
    <div class="my-content" fxLayout="column">
        <!-- <app-splash-screen style="position: absolute; z-index: 999;" *ngIf="initialLoad"></app-splash-screen> -->
        <app-toolbar *ngIf="renderToolbar" (openNotificationsEvent)="openNotifications($event)"></app-toolbar>
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>
