::ng-deep .mat-form-field-underline {
    background: #d8d8d8;
}

* {
    font-family: 'Open Sans', sans-serif;
}

.sidenav-container {
    min-height: 100vh;
    height: 100%;
    overflow-y: hidden;
    position: relative;
}

.my-content {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.my-content app-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.router-container {
    position: relative;
    min-height: calc(100vh);
    overflow-y: hidden;
    padding: 3rem 0 calc(3rem + 64px) 0;
    box-sizing: border-box;
}

.router-container.toolbar {
    min-height: calc(100vh - 100px);
}

.router-container.toolbar {
    min-height: calc(100vh - 228px);
}

.mat-fab-bottom-left {
    top: auto;
    right: 35px;
    bottom: 35px;
    right: auto;
    position: fixed;
}
