.not-found-content {
    height: calc(100vh - 128px);
    position: relative;
}

.not-found-content a {
    text-decoration: none;
    color: deeppink;
}

.not-found-content .error {
    position: absolute;
    top: 150px;
}
