<div style="position: relative;" fxLayout="column" fxLayoutAlign="start center">
    <div class="edit-container">
        <div class="overlay" *ngIf="isInvertingAccountStatus">
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <mat-progress-spinner [value]="progress" [mode]="progressSpinnerMode" [diameter]="120" [strokeWidth]="3" style="position: absolute; z-index: 0;"></mat-progress-spinner>
            <div class="edit-image">
                <div class="change-overlay" fxLayout="row" fxLayoutAlign="center center" (click)="fileInput.click()" *ngIf="currentUser.isActive && !isUploading">
                    <span>Change</span>
                </div>
                <img class="thumbnail-big" src="{{currentUser.pictureUri}}" default="assets/images/user-default-image.png" appImagePreview
                    [image]="uploader.queue[0]?._file" alt="{{currentUser.username}}" />
                <input #fileInput type="file" accept="image/*" ng2FileSelect [uploader]="uploader" hidden/>
            </div>
        </div>
        <div class="item">
            <h4>
                Personal information
            </h4>
            <form class="form" [formGroup]="formGroup" (ngSubmit)="save()">
                <mat-form-field style="width: 100%;">
                    <input formControlName="username" matInput placeholder="Username" type="text" autocomplete="off" spellcheck="false">
                    <div matSuffix>
                        <mat-icon class="primary" matSuffix *ngIf="username?.getError('unique')">clear</mat-icon>
                        <mat-icon class="success" matSuffix *ngIf="username?.valid">check</mat-icon>
                        <mat-spinner [diameter]="20" [strokeWidth]="2" color="primary" *ngIf="username?.isValidating"></mat-spinner>
                    </div>
                    <mat-error *ngIf="username?.getError('required')">
                        Username is required
                    </mat-error>
                    <mat-error *ngIf="username?.getError('minlength')">
                        Username must be at least {{username.errors.minlength.requiredLength}}
                    </mat-error>
                    <mat-error *ngIf="username?.getError('pattern')">
                        Whitespaces are not allowed
                    </mat-error>
                    <mat-error *ngIf="username?.getError('unique')">
                        User with such name already exists
                    </mat-error>
                </mat-form-field>
                <mat-form-field style="width: 100%;">
                    <input formControlName="fullName" matInput placeholder="Full Name" type="text" autocomplete="off" spellcheck="false">
                </mat-form-field>
                <mat-form-field style="width: 100%;">
                    <textarea class="bio" formControlName="bio" rows="3" matInput placeholder="Bio" type="text" autocomplete="off" spellcheck="false"></textarea>
                </mat-form-field>
                <div fxLayout="row" fxLayoutAlign="end center" style="height: 40px;">
                    <button mat-button *ngIf="formGroup.dirty" (click)="cancel()">CANCEL</button>
                    <button mat-raised-button color="primary" type="sumit" *ngIf="formGroup.valid && formGroup.dirty">SAVE CHANGES</button>
                </div>
            </form>
        </div>

        <div class="item">
            <h4>
                Private information
            </h4>
            <form class="form" [formGroup]="privateFormGroup">
                <mat-form-field style="width: 100%;">
                    <input formControlName="email" matInput placeholder="Email Address" type="email" autocomplete="off" spellcheck="false">
                    <mat-hint>
                        A valid email address please. Don't worry we won't send you any spam
                    </mat-hint>
                    <div matSuffix>
                        <mat-icon class="primary" matSuffix *ngIf="email?.getError('unique')">clear</mat-icon>
                        <mat-icon class="success" matSuffix *ngIf="email?.valid">check</mat-icon>
                        <mat-spinner [diameter]="20" [strokeWidth]="2" color="primary" *ngIf="email?.isValidating"></mat-spinner>
                    </div>
                    <mat-error *ngIf="email?.getError('required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="email?.getError('maxlength')">
                        Email cannot be more than {{username.errors.maxlength.requiredLength}}
                    </mat-error>
                    <mat-error *ngIf="email?.getError('pattern')">
                        Whitespaces are not allowed
                    </mat-error>
                    <mat-error *ngIf="email?.getError('unique')">
                        Email with such name already exists
                    </mat-error>
                </mat-form-field>
                <div fxLayout="row" fxLayoutAlign="end center" style="height: 40px;">
                    <button mat-button *ngIf="privateFormGroup.valid && privateFormGroup.dirty" (click)="cancelEmailChange()">CANCEL</button>
                    <button type="submit" mat-raised-button color="primary" *ngIf="privateFormGroup.valid && privateFormGroup.dirty">SAVE CHANGES</button>
                </div>
            </form>
            <div class="item" fxLayout="row" fxLayoutAlign="space-between start">
                <div>
                    <span class="mat-body-1" [ngClass]="{ 'disabled' : !currentUser.isActive }">Private Account</span>
                    <p style="color: rgb(0,0,0,.6); font-weight: lighter; font-size: .8em; line-height: 1.5;">When your account is private, only people you approve can see your photos and videos on PhotoCloud. Your
                        existing followers won't be affected</p>
                </div>
                <mat-slide-toggle color="primary" [(ngModel)]="currentUser.isPrivate" [checked]="currentUser.isPrivate" (change)='invertAccountPrivateStatus($event)'
                    [disabled]="!currentUser.isActive"></mat-slide-toggle>
            </div>
            <div class="item" fxLayout="row" fxLayoutAlign="space-between start">
                <div>
                    <span class="mat-body-1" [ngClass]="{ 'disabled' : !currentUser.isActive }">Remember me</span>
                    <p style="color: rgb(0,0,0,.6); font-weight: lighter; font-size: .8em; line-height: 1.5;">When this option is enabled system will allow you to login without password after session has expired</p>
                </div>
                <mat-slide-toggle color="primary" [(ngModel)]="currentUser.canAutoLogin" [checked]="currentUser.canAutoLogin" (change)='invertAccountAutoLoginStatus($event)'
                    [disabled]="!currentUser.isActive"></mat-slide-toggle>
            </div>
            <div class="item">
                <a class="mat-body-1" *ngIf="currentUser.isActive" (click)="changePassword()">Change Password</a>
                <span class="mat-body-1 disabled" *ngIf="!currentUser.isActive">Change Password</span>
            </div>
        </div>

        <div class="item" fxLayout="row" fxLayoutAlign="start center">
            <a class="btn-deactivate" mat-button color="warn" (click)="invertAccountStatus()">{{currentUser.isActive ? 'Temporarily disable my account' : 'Enable account'}}</a>
        </div>
    </div>
</div>
