textarea.bio {
    line-height: 2;
    resize: none;
}

.edit-container {
    width: 600px;
    box-shadow: 0 3px 8px -3px rgba(0, 0, 0, 0.26);
    color: rgb(0, 0, 0, .85);
    background: white;
    border-radius: 2px;
    padding: 1.4rem;
    box-sizing: border-box;
    position: relative;
}

.edit-container .overlay {
    position: absolute;
    margin: -1.4rem;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    z-index: 999;
    border-radius: 2px;
}

.edit-container img {
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    border-radius: 90px;
}

.edit-container .item {
    position: relative;
    margin-top: 2rem;
}

.edit-container .disabled {
    color: rgba(0, 0, 0, 0.38);
}

.form {
    font-size: .9em;
}

.item {
    font: inherit;
}

.item a {
    color: #e91e63;
    cursor: pointer;
    font-size: .9em;
}

div.edit-image {
    box-sizing: border-box;
    position: relative;
}

div.edit-image .thumbnail-big {
    cursor: pointer;
    vertical-align: bottom;
}

div.edit-image .change-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #ffffff;
    opacity: 0;
    z-index: 100;
    border-radius: 50%;
    -webkit-transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -ms-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
}

div.edit-image:not([disabled]):hover .change-overlay {
    cursor: pointer;
    background: rgba(0, 0, 0, .5);
    opacity: 1;
}

.btn-deactivate {
    width: 100%;
    text-transform: uppercase;
}
