@media screen and (max-width: 500px) {
    .edit-container {
        padding: .7rem;
    }
}

@media screen and (min-width: 501px) {
    .edit-container {
        box-shadow: 0 3px 8px -3px rgba(0, 0, 0, 0.26);
        border-radius: 2px;
        padding: 1.4rem;
    }
}

.edit-container {
    max-width: 600px;
    width: 100%;
    color: rgb(0, 0, 0, .85);
    background: white;
    box-sizing: border-box;
    position: relative;
}

.edit-container .overlay {
    position: absolute;
    margin: -1.4rem;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    z-index: 999;
    border-radius: 2px;
}

.edit-container img {
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    border-radius: 90px;
}

.edit-container .item {
    position: relative;
    margin-top: 2rem;
    font: inherit;
}

.edit-container .disabled {
    color: rgba(0, 0, 0, 0.38);
}

.form {
    font-size: .9em;
}

.edit-container .item h4 {
    padding-bottom: .7rem;
}

.item a {
    color: #e91e63;
    cursor: pointer;
}

textarea.bio {
    line-height: 2;
    resize: none;
    text-align: justify;
}

div.edit-image {
    box-sizing: border-box;
    position: relative;
}

div.edit-image .thumbnail-big {
    vertical-align: bottom;
}

div.edit-image .change-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: #ffffff;
    opacity: 0;
    z-index: 100;
    border-radius: 50%;
    -webkit-transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -ms-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
}

div.edit-image:not([disabled]):hover .change-overlay {
    cursor: pointer;
    background: rgba(0, 0, 0, .5);
    opacity: 1;
}

.edit-container .btn-deactivate {
    font-weight: bold;
    text-transform: uppercase;
    font-weight: 600;
}

::ng-deep .btn-deactivate .mat-button-focus-overlay {
    background-color: transparent !important;
}
