.edit-container {
    width: 600px;
    box-shadow: 0 3px 8px -3px rgba(0, 0, 0, 0.26);
    color: #444444;
    background: white;
    border-radius: 2px;
    padding: .7rem .7rem 1.7rem .7rem;
    box-sizing: border-box;
    position: relative;
}

.edit-container img {
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    border-radius: 90px;
}

.edit-container .item {
    position: relative;
    margin-top: 2rem;
}

.edit-container .disabled {
    color: rgba(0, 0, 0, 0.38);
}

.form {
    font-size: .9em;
}

.item>a {
    font-size: .9em;
}
