<div style="position: relative;" fxLayout="column" fxLayoutAlign="start center">
    <div class="edit-container">
        <div class="overlay" *ngIf="isInvertingAccountStatus">
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <img src="{{currentUser.pictureUri}}" default="assets/images/user-default-image.png">
        </div>
        <div class="item">
            <div style="padding-bottom: .7rem;">
                <span style="font-weight: 900; text-transform: uppercase;">Personal information</span>
            </div>
            <form class="form" [formGroup]="formGroup" (ngSubmit)="save()">
                <mat-form-field style="width: 100%;">
                    <input formControlName="username" matInput placeholder="Username" type="text" autocomplete="off">
                    <div matSuffix>
                        <mat-icon class="primary" matSuffix *ngIf="username?.getError('unique')">clear</mat-icon>
                        <mat-icon class="success" matSuffix *ngIf="username?.valid">check</mat-icon>
                        <mat-spinner [diameter]="20" [strokeWidth]="2" color="primary" *ngIf="username?.isValidating"></mat-spinner>
                    </div>
                    <mat-error *ngIf="username?.getError('required')">
                        Username is required
                    </mat-error>
                    <mat-error *ngIf="username?.getError('minlength')">
                        Username must be at least {{username.errors.minlength.requiredLength}}
                    </mat-error>
                    <mat-error *ngIf="username?.getError('pattern')">
                        Whitespaces are not allowed
                    </mat-error>
                    <mat-error *ngIf="username?.getError('unique')">
                        User with such name already exists
                    </mat-error>
                </mat-form-field>
                <mat-form-field style="width: 100%;">
                    <input formControlName="fullName" matInput placeholder="Full Name" type="text" autocomplete="off">
                </mat-form-field>
                <mat-form-field style="width: 100%;">
                    <textarea class="bio" formControlName="bio" rows="3" matInput placeholder="Bio" type="text" autocomplete="off" spellcheck="false"></textarea>
                </mat-form-field>
                <div fxLayout="row" fxLayoutAlign="end center">
                    <button mat-button *ngIf="formGroup.dirty" (click)="cancel()">CANCEL</button>
                    <button mat-raised-button color="primary" type="sumit" [disabled]="!formGroup.valid || !formGroup.dirty">SAVE CHANGES</button>
                </div>
            </form>
        </div>

        <div class="item">
            <div style="padding-bottom: .7rem;">
                <span style="font-weight: 900; text-transform: uppercase;">Private information</span>
            </div>
            <form class="form" [formGroup]="privateFormGroup">
                <mat-form-field style="width: 100%;">
                    <input formControlName="email" matInput placeholder="Email Address" type="email" autocomplete="off">
                    <mat-hint>
                        A valid email address please. Don't worry we won't send you any spam
                    </mat-hint>
                    <div matSuffix>
                        <mat-icon class="primary" matSuffix *ngIf="email?.getError('unique')">clear</mat-icon>
                        <mat-icon class="success" matSuffix *ngIf="email?.valid">check</mat-icon>
                        <mat-spinner [diameter]="20" [strokeWidth]="2" color="primary" *ngIf="email?.isValidating"></mat-spinner>
                    </div>
                    <mat-error *ngIf="email?.getError('required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="email?.getError('maxlength')">
                        Email cannot be more than {{username.errors.maxlength.requiredLength}}
                    </mat-error>
                    <mat-error *ngIf="email?.getError('pattern')">
                        Whitespaces are not allowed
                    </mat-error>
                    <mat-error *ngIf="email?.getError('unique')">
                        Email with such name already exists
                    </mat-error>
                </mat-form-field>
                <div fxLayout="row" fxLayoutAlign="end center">
                    <button type="submit" mat-raised-button color="primary" [disabled]="!privateFormGroup.valid || !privateFormGroup.dirty">SAVE CHANGES</button>
                </div>
            </form>
            <div class="item" fxLayout="row" fxLayoutAlign="space-between start">
                <div>
                    <span class="mat-body-1" [ngClass]="{ 'disabled' : !currentUser.isActive }">Private Account</span>
                    <p style="color: gray; font-weight: lighter; font-size: .8em; line-height: 1.5;">When your account is private, only people you approve can see your photos and videos on PhotoCloud. Your
                        existing followers won't be affected</p>
                </div>
                <mat-slide-toggle color="primary" [(ngModel)]="currentUser.isPrivate" [checked]="currentUser.isPrivate" (change)='invertAccountPrivateStatus($event)'
                    [disabled]="!currentUser.isActive"></mat-slide-toggle>
            </div>
            <!-- <div style="padding-bottom: .7rem; font-size: .9em;">
                <a class="link-button" *ngIf="currentUser.isActive" (click)="changePassword()">Change Password</a>
                <span class="disabled" *ngIf="!currentUser.isActive">Change Password</span>
            </div> -->
        </div>

        <div class="item" fxLayout="row" fxLayoutAlign="start center">
            <a class="link-button" (click)="invertAccountStatus()">{{currentUser.isActive ? 'Temporarily disable my account' : 'Enable account'}}</a>
        </div>
    </div>
</div>
