<div class="edit-media-container">
    <div class="category">
        <span class="category-header">Attachments</span>
        <div class="preview-items">
            <div class="preview-item" *ngFor="let item of updateMediaModel.attachments; let index = index;">
                <mat-icon mat-ripple class="btn-icon btn-remove mat-18" (click)="restoreAttachment(item)" *ngIf="item.removed" matTooltip="Undo" matTooltipPosition="below">undo</mat-icon>
                <mat-icon mat-ripple class="btn-icon btn-remove mat-18" (click)="removeAttachment(item)" *ngIf="!item.removed" matTooltip="Remove" matTooltipPosition="below">clear</mat-icon>
                <div class="attachment-preview-container" [ngClass]="{ 'transparent' : item.removed }" mat-ripple (click)="select(item)">
                    <img [src]="item.uri" *ngIf="item.type !== 1">
                    <video *ngIf="item.type === 1">
                        <source src="{{item.uri}}">
                    </video>
                </div>
            </div>
        </div>
    </div>
    <div class="category">
        <span class="category-header">Caption</span>
        <textarea class="caption" [(ngModel)]="updateMediaModel.caption" rows="5" placeholder="Write a caption..."></textarea>
    </div>
    <div class="category">
        <span class="category-header">Comments</span>
        <div fxLayout="row" fxLayoutAlign="space-between start">
            <div>
                <span class="option">Allow comments</span>
                <p class="option-desctiption">When this options is disabled you are the only one who is able to leave comments under this post</p>
            </div>
            <mat-slide-toggle color="primary" [(ngModel)]="updateMediaModel.allowComments"></mat-slide-toggle>
        </div>
    </div>
    <div class="actions-category" fxLayout="row" fxLayoutAlign="end center">
        <button mat-raised-button color="primary" (click)="save()">SAVE</button>
        <button mat-button (click)="cancel()">CANCEL</button>
    </div>
</div>
