<div style="height: 100vh;" fxLayout="column" fxLayoutAlign="center center">
    <div style="width: 400px;height: 200px;" fxLayout="column">
        <input type="text" placeholder="Username or email address" style="padding: 12px; border: 2px solid #efefef; border-radius: 5px; width: 100%; box-sizing: border-box;">
        <input type="password" placeholder="Password" style="margin-top: 24px; padding: 12px; border: 2px solid #efefef; border-radius: 5px; width: 100%; box-sizing: border-box;">
        <button mat-raised-button style="margin-top: 24px;">Sign In</button>
    </div>
</div>
