<div class="signin-content" fxLayout="column" fxLayoutAlign="center center" @content>
    <form class="mat-elevation-z3 sign-in-form" fxLayout="column" [formGroup]="formGroup" (ngSubmit)="signIn(usernameInput.value, passwordInput.value)">
        <mat-progress-bar mode="indeterminate" style="position: absolute; top: 0; margin: 0 -17px" *ngIf="isLoading"></mat-progress-bar>
        <div style="margin-bottom: 24px;" fxLayout="column">
            <div style="margin: 12px 0 34px 0;" fxLayout="row" fxLayoutAlign="center center">
                <span style="font-size: 24px; font-weight: lighter;">Photo</span>
                <span style="font-size: 34px; font-weight: bold;">Cloud</span>
            </div>
            <span style="color: gray;">Login to continue or
                <a class="primary" routerLink="/account/create">Create Account</a>
            </span>
        </div>
        <mat-form-field class="form-field">
            <input formControlName="username" #usernameInput matInput placeholder="Username or E-mail address" type="text" autocomplete="off"
                [errorStateMatcher]="errorStateMatcher">
            <button mat-icon-button *ngIf="usernameInput.value" matSuffix aria-label="Clear" (mousedown)="username.setValue('')" autofocus="false">
                <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="username.getError('required')">
                Username is required
            </mat-error>
            <mat-error *ngIf="username.getError('minlength')">
                Username must be at least {{username.errors.minlength.requiredLength}}
            </mat-error>
            <mat-error *ngIf="username.getError('pattern')">
                Whitespaces are not allowed
            </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field">
            <input formControlName="password" #passwordInput matInput placeholder="Password" type="password" autocomplete="off" [errorStateMatcher]="errorStateMatcher">
            <button mat-icon-button *ngIf="passwordInput.value" matSuffix aria-label="Clear" (mousedown)="passwordInput.type='text'"
                (mouseup)="passwordInput.type='password'">
                <mat-icon>fingerprint</mat-icon>
            </button>
            <mat-error *ngIf="password.getError('required')">
                Password is required
            </mat-error>
            <mat-error *ngIf="password.getError('minlength')">
                Password must be at least {{password.errors.minlength.requiredLength}}
            </mat-error>
            <mat-error *ngIf="password.getError('pattern')">
                Whitespaces are not allowed
            </mat-error>
        </mat-form-field>
        <div style="margin-top: 17px;" fxLayout="row" fxLayoutAlign="end">
            <a class="primary" routerLink="/account/recover">Forgot Password?</a>
        </div>
        <div style="margin-top: 24px;" fxLayout="row" fxLayoutAlign="center" *ngIf="errorMessage">
            <span class="error-message">{{errorMessage}}</span>
        </div>
        <div style="margin-top: 34px;">
            <button type="submit" style="width: 100%;" mat-raised-button color="primary">SIGN IN</button>
        </div>
    </form>
</div>
