.posts-container {
    margin: 50px 0 50px 0;
}

.user-posts {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 30px;
    margin-bottom: 50px;
}

.post-item {
    width: 300px;
    height: 300px;
    /*padding: 20px;*/
}

.image-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.image-container .after {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #ffffff;
    opacity: 0;
    border-style: none;
    padding: 0px 50px 0px 50px;
}

.image-container:not([disabled]):hover .after {
    cursor: pointer;
    background: rgba(0, 0, 0, .4);
    opacity: 1;
    width: 100%;
    height: 100%;
}

.thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.post-icon {
    color: white;
}

.post-number {
    margin-left: 10px;
}

.thumbnail-big {
    width: 150px;
    height: 150px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 90px;
    border: 1px solid #efefef;
}

.user-info {
    height: 195px;
    width: 650px;
    margin-bottom: 65px;
}

.mat-display-1 {
    font-weight: lighter;
}

.md-padding {
    padding: 16px 0px 0 16px;
}

.user-details {
    margin-top: 16px;
}

.counters {
    margin-top: 16px;
}

.mat-subhead.full-name {
    font-size: 17px;
    font-weight: bold;
    padding-right: 10px;
     width: 100%;
    white-space: pre;
}

.mat-subhead.bio {
    font-size: 17px;
    font-weight: normal;
    padding-right: 10px;
}

.button-bordered {
    border: 1px solid red;
}

.info-container {
    height: 300px;
}

.info-message {
    font-weight: 300;
}

.error-box {
    padding: 50px;
}

.error-title {
    font-weight: bold;
    font-size: 1.5em;
}

.error-description {
    font-size: 1.3em;
}
