<div fxLayout="column" fxLayoutAlign="center center" *ngIf="!isLoading">
    <div class="user-info" fxLayout="row" fxLayoutAlign="center center">
        <img class="thumbnail-big" src="{{user.pictureUri}}" default="assets/images/user-default-image.png" alt="{{user.username}}"
            *ngIf="!currentUser || user.id !== currentUser.id" />
        <img class="thumbnail-big pointer" src="{{user.pictureUri}}" appImagePreview [image]="uploader.queue[0]?._file" default="assets/images/user-default-image.png"
            alt="{{user.username}}" (click)="fileInput.click()" *ngIf="currentUser && user.id === currentUser.id" />
        <input #fileInput type="file" accept="image/*" ng2FileSelect [uploader]="uploader" hidden/>
        <div class="user-info-data" fxLayout="column" fxFlex>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div>
                    <span class="mat-display-1">{{user.username}} </span>
                </div>
                <button md-icon-button routerLink="/account/edit" mdTooltip="Settings" mdTooltipPosition="above" *ngIf="currentUser && user.id === currentUser.id">
                    <md-icon>settings</md-icon>
                </button>
                <button md-icon-button mdTooltip="Logout" mdTooltipPosition="above" (click)="logout()" *ngIf="currentUser && user.id === currentUser.id">
                    <md-icon>exit_to_app</md-icon>
                </button>
                <button md-raised-button color="accent" *ngIf="currentUser && user.id !== currentUser.id && (user.isActive || (!user.isActive && user.incommingStatus !== 0))"
                    (click)="modifyRelationship()" [disabled]="isModifyingRelationship">{{user.incommingStatus | relationshipAction | uppercase }}</button>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" *ngIf="user.isActive">
                <div fxFlex>
                    <span class="mat-title">{{user.posts}} </span>
                    <span class="mat-subhead">posts </span>
                </div>
                <a md-button (click)="getFollowers()" *ngIf="currentUser" fxFlex>
                    <span class="mat-title">{{user.followers}} </span>
                    <span class="mat-subhead">followers </span>
                </a>
                <div *ngIf="!currentUser" fxFlex>
                    <span class="mat-title">{{user.followers}} </span>
                    <span class="mat-subhead">followers </span>
                </div>

                <a md-button (click)="getFollowings()" *ngIf="currentUser" fxFlex>
                    <span class="mat-title">{{user.following}} </span>
                    <span class="mat-subhead">following</span>
                </a>
                <div *ngIf="!currentUser" fxFlex>
                    <span class="mat-title">{{user.following}} </span>
                    <span class="mat-subhead">following</span>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" *ngIf="user.isActive">
                <div>
                    <span class="mat-subhead full-name">{{user.fullName}}</span>
                </div>
                <div class="bio-container">
                    <span class="mat-subhead bio">{{user.bio}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="posts-container" *ngIf="!error; else errorBox">
        <div class="user-posts" *ngIf="isLoading || page.data.length > 0; else emptyFeed;">
            <div class="post-item" *ngFor="let post of page?.data;">
                <div class="image-container mat-elevation-z3" fxLayout="column" fxLayoutAlign="center center" (click)="openPostDialog(post)">
                    <img class="thumbnail" src="{{post?.attachments[0].uri}}" alt="{{post?.caption}}">
                    <md-icon class="multiple-attachments-icon" *ngIf="post.attachments.length > 1">layers</md-icon>
                    <div class="after md-padding" fxLayout="row" fxLayoutAlign="space-between center">
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <md-icon class="post-icon">favorite</md-icon>
                            <span class="post-number">{{post?.likesCount}}</span>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <md-icon class="post-icon">mode_comment</md-icon>
                            <span class="post-number">{{post?.commentsCount}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" *ngIf="page.hasMoreItems">
            <button md-raised-button (click)="getPosts()" [disabled]="isLoadingPosts">Load More</button>
        </div>
    </div>
    <ng-template #errorBox>
        <div class="info-container" fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center">
                <div class="error-box" fxLayout="column" fxLayoutAlign="start center">
                    <span class="error-title">{{error.title}}</span>
                    <p class="error-description">{{error.description}}</p>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template #emptyFeed>
        <div class="info-container" fxLayout="row" fxLayoutAlign="center center">
            <h1 class="info-message"><strong>{{user.username}}</strong> hasn't posted anything yet</h1>
        </div>
    </ng-template>
</div>
