@media screen and (max-width: 500px) {}

@media screen and (min-width: 701px) {
    .media-container {
        width: 600px;
    }
}

.media-container {
    min-height: calc(100vh - 228px);
}

.media-item-container {
    margin-bottom: 3rem;
}

.media-item-container:last-of-type {
    margin-bottom: 1.3rem;
}

.message-container {
    position: absolute;
    top: 50%;
}

.message {
    color: rgb(0, 0, 0, .85);
    font-weight: lighter;
    font-size: 1.7em;
}

.mat-fab-bottom-right {
    top: auto;
    right: 35px;
    bottom: 35px;
    left: auto;
    position: fixed;
}

.btn-pulse:before,
.btn-pulse:after {
    content: '';
    position: absolute;
    display: block;
    border: 1px solid #e91e63;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: inherit;
    animation: animate 1s linear 3;
    opacity: 0;
    backface-visibility: hidden;
}

.btn-pulse:after {
    animation-delay: .5s;
}

@keyframes animate {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.75);
        opacity: 0;
    }
}
