<div fxLayout="column" fxLayoutAlign="start center" appInfiniteScroll [appScrollTriggerOnce]="true" [scrollOffset]="6000" (scrollPosition)="onPositionChange()">
    <div class="media-container" *ngIf="isLoading || (page && page.data && page.data.length > 0); else emptyFeed;">
        <div class="media-item-container" *ngFor="let media of page.data; trackBy: index;">
            <app-media-item [media]="media" (onRemoved)="onRemoved($event)"></app-media-item>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" *ngIf="page.hasMoreItems" style="height: 40px;">
            <button class="btn-primary" mat-button (click)="getMedia()" [disabled]="isLoading" *ngIf="!isLoading">Load More</button>
            <mat-spinner [diameter]="30" [strokeWidth]="3" color="primary" *ngIf="isLoading"></mat-spinner>
        </div>
    </div>
</div>

<button class="mat-fab-bottom-right btn-pulse" color="primary" (click)="createMedia()" mat-fab>
    <mat-icon>add</mat-icon>
</button>

<ng-template #emptyFeed>
    <div class="message-container">
        <span class="message">No one has posted anything yet</span>
    </div>
</ng-template>
