@media screen and (max-width: 500px) {}

@media screen and (min-width: 701px) {
    .media-container {
        width: 600px;
    }
}

.media-container {
    min-height: calc(100vh - 228px);
}

.media-item-container {
    margin-bottom: 3rem;
}

.media-item-container:last-of-type {
    margin-bottom: 1.3rem;
}

.message-container {
    position: absolute;
    top: 50%;
}

.message {
    color: #444444;
    font-weight: lighter;
    font-size: 1.7em;
}

.mat-fab-bottom-right {
    top: auto;
    right: 35px;
    bottom: 35px;
    left: auto;
    position: fixed;
}
