@media screen and (max-width: 700px) {
    .media-container {
        margin: 50px 0 50px 0;
    }
}

@media screen and (min-width: 701px) {
    .media-container {
        width: 600px;
        margin: 50px 0 50px 0;
    }
}

.message-container {
    position: absolute;
    top: 50%;
}

.message {
    color: #444444;
    font-weight: lighter;
    font-size: 1.7em;
}

.mat-fab-bottom-right {
    top: auto;
    right: 35px;
    bottom: 35px;
    left: auto;
    position: fixed;
}

.btn-default {
    width: auto;
}
