<div fxLayout="column" fxLayoutAlign="start center">
    <div class="media-container" *ngIf="isLoading || (page && page.data && page.data.length > 0); else emptyFeed;">
        <div>
            <div class="media-item-container" *ngFor="let media of page.data; trackBy: index;">
                <app-media-item [media]="media" (onRemoved)="onRemoved($event)"></app-media-item>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" *ngIf="page.hasMoreItems" style="border-top: 1px solid #efefef; padding-top: 1rem;">
            <button class="btn-primary" mat-button (click)="getMedia()" [disabled]="isLoading">Load More</button>
        </div>
    </div>
</div>
<button class="mat-fab-bottom-right" color="primary" (click)="createMedia()" mat-fab>
    <mat-icon>add</mat-icon>
</button>

<ng-template #emptyFeed>
    <div class="message-container">
        <span class="message">No one has posted anything yet</span>
    </div>
</ng-template>
