<div fxLayout="column" fxLayoutAlign="start center" fxFlex>
    <div class="media-container" *ngIf="isLoading || (page && page.data && page.data.length > 0); else emptyFeed;">
        <app-media-item *ngFor="let media of page.data; trackBy: index;" [media]="media" (onRemoved)="onRemoved($event)"></app-media-item>
        <div fxLayout="row" fxLayoutAlign="center center" *ngIf="page.hasMoreItems">
            <button class="btn-default" mat-button (click)="getPosts()" [disabled]="isLoading">Load More</button>
        </div>
    </div>
</div>
<button class="mat-fab-bottom-right" (click)="createPost()" mat-fab>
    <mat-icon>add</mat-icon>
</button>

<ng-template #emptyFeed>
    <div class="message-container">
        <span class="message">No one has posted anything yet</span>
    </div>
</ng-template>
