.toolbar {
    background-color: white;
    box-shadow: 0 3px 8px -3px rgba(0, 0, 0, 0.26);
    box-sizing: border-box;
}

.mat-toolbar-layout {
    width: 100%;
}

@media screen and (max-width: 870px) {
    .search-box-container {
        display: none;
    }
    .logo-container {
        justify-content: flex-start !important;
    }
}

.search-box-container {
    width: 600px;
}

.container {
    width: 100%;
}

.logo {
    font-weight: 300;
    font-size: 21px;
    cursor: pointer;
    outline: none;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 90px;
    object-fit: cover;
    cursor: pointer;
    outline: none;
}

mat-icon>svg {
    stroke-width: 0.7;
}

.custom-big-icon-container {
    width: 64px;
    height: 64px;
}

.custom-big-icon {
    cursor: pointer;
    outline: none;
    color: #444444;
    width: 35px;
    height: 35px;
}

.toolbar-actions>* {
    margin-right: 1.5rem;
}

.toolbar-actions>:last-child {
    margin-right: 0;
}

td-notification-count,
td-notification-count .mat-icon {
    outline: none;
}

td-notification-count .btn-icon {
    color: #333333;
}

td-notification-count .btn-icon:hover {
    color: #e91e63;
}
