<header class="toolbar" [ngClass]="{ 'scrolled' : scrolled, 'hidden' : scrolledDown && !isMenuOpened }" fxLayout="row" fxLayoutAlign="center center" appHeaderScroll (scrollPosition)="onPositionChange($event)"
    (scrollDirection)="onScrollDirectionChange($event)">
    <div class="mat-toolbar-layout">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center" style="width: 180px;">
                <a class="logo" routerLink="/" fxLayout="row" fxLayoutAlign="center center">
                    <span class="photo">Photo</span>
                    <span class="cloud">Cloud</span>
                </a>
            </div>
            <div class="search-box-container" *ngIf="currentUser && isAuthenticated && currentUser.isActive">
                <app-search-box [scrolled]="scrolled"></app-search-box>
            </div>
            <div class="authentication-actions" fxLayout="row" fxLayoutAlign="end center" *ngIf="!currentUser || !isAuthenticated" style="min-width: 180px;">
                <a class="btn-signin" mat-raised-button color="primary" routerLink="/account/create">
                    CREATE ACCOUNT
                </a>
                <a class="btn-signin" mat-button color="primary" routerLink="/account/signin">
                    SIGN IN
                </a>
                <!-- <a class="btn-signin" mat-raised-button color="primary" routerLink="/account/create">
                    CREATE ACCOUNT
                </a>
                <a class="btn-signin" mat-stroked-button color="primary" routerLink="/account/signin">
                    SIGN IN
                </a> -->
            </div>
            <div class="toolbar-actions" [ngClass]="{ 'not-active' : !currentUser.isActive }" *ngIf="currentUser && isAuthenticated">
                <a routerLink="/explore/people" *ngIf="currentUser.isActive" style="margin-top: 2px;">
                    <mat-icon class="btn-icon thin" [ngClass]="{ 'mat-24' : mobile, 'mat-36' : !mobile }" svgIcon="compass"></mat-icon>
                </a>
                <div class="custom-icon-container" *ngIf="currentUser.isActive" fxLayout="row" fxLayoutAlign="center center" [matMenuTriggerFor]="notificationsMenu">
                    <mat-icon class="btn-icon thin" [ngClass]="{ 'mat-24' : mobile, 'mat-36' : !mobile }" svgIcon="bell"></mat-icon>
                    <span mat-ripple class="custom-badge" *ngIf="unreadActivitiesCount" fxLayout="row" fxLayoutAlign="center center">{{unreadActivitiesCount}}</span>
                </div>
                <a [routerLink]="['/', currentUser.username]" fxLayout="row" fxLayoutAlign="center center">
                    <img class="avatar" src="{{currentUser.pictureUri}}" default="assets/images/user-default-image.png" alt="{{currentUser.username}}" matTooltipPosition="after">
                </a>
            </div>
        </div>
    </div>
</header>

<mat-menu class="notifications-menu" xPosition="before" [overlapTrigger]="true" #notificationsMenu="matMenu">
    <div appClickStopPropagation>
        <app-notifications #appNotifications (requestsOpened)="openRequests()" (allNotificatoinsOpened)="openNotifications()"></app-notifications>
    </div>
</mat-menu>
