header.toolbar {
    background: white;
    /* border-bottom: 1px solid #ebebeb; */
    /* box-shadow: 0 3px 8px -4px rgba(0, 0, 0, 0.26); */
    padding: 1.4rem .7rem;
    min-height: 64px;
    position: fixed;
    z-index: 999;
    max-width: none !important;
    width: 100vw;
    -webkit-transition: padding .25s ease-in-out, box-shadow .1s ease-in-out, transform .25s ease-in-out;
    -moz-transition: padding .25s ease-in-out, box-shadow .1s ease-in-out, transform .25s ease-in-out;
    -ms-transition: padding .25s ease-in-out, box-shadow .1s ease-in-out, transform .25s ease-in-out;
    -o-transition: padding .25s ease-in-out, box-shadow .1s ease-in-out, transform .25s ease-in-out;
    transition: padding .25s ease-in-out, box-shadow .1s ease-in-out, transform .25s ease-in-out;
    top: 0;
}

header.toolbar.scrolled {
    padding: .7rem;
    box-shadow: 0 3px 8px -4px rgba(0, 0, 0, 0.26);
    /* border-bottom: none; */
}

header.toolbar.hidden {
    transform: translateY(-100px);
}

.mat-toolbar-layout {
    position: relative;
    width: 100%;
    max-width: 960px;
}

@media screen and (max-width: 600px) {
    .search-box-container {
        display: none;
    }
}

.search-box-container {
    width: 600px;
    box-sizing: border-box;
}

.search-box-container>input {
    background: red !important;
}

.container {
    width: 100%;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 90px;
    object-fit: cover;
    cursor: pointer;
    outline: none;
}

mat-icon>svg {
    stroke-width: 0.7;
}

.custom-big-icon-container {
    width: 64px;
    height: 64px;
}

.custom-big-icon {
    cursor: pointer;
    outline: none;
    color: rgb(0, 0, 0, .86);
    width: 35px;
    height: 35px;
}

.authentication-actions>:first-child {
    margin-right: .7rem;
}

.toolbar-actions {
    padding-left: 1.4rem;
    box-sizing: border-box;
    width: 180px;
    display: flex;
    align-items: center;
    place-content: center space-between;
}

.toolbar-actions.not-active {
    place-content: center flex-end;
}

td-notification-count,
td-notification-count .mat-icon {
    outline: none;
}

td-notification-count .btn-icon {
    color: rgb(0, 0, 0, .86);
}

td-notification-count .btn-icon:hover {
    color: #e91e63;
}

.btn-signin {
    /* font-weight: bold;
    color: #e91e63;
    font-family: 'Roboto', sans-serif; */
}

::ng-deep .btn-signin .mat-button-focus-overlay {
    background-color: transparent !important;
    border-radius: 50% !important;
}

.logo {
    text-decoration: none;
}

.logo .photo {
    font-size: 1.6em;
    font-weight: lighter;
}

.logo .cloud {
    font-size: 1.9em;
    font-weight: bold;
}

::ng-deep .cdk-overlay-pane {
    /* -webkit-transition: top .1s ease-in-out;
    -moz-transition: top .1s ease-in-out;
    -ms-transition: top .1s ease-in-out;
    -o-transition: top .1s ease-in-out;
    transition: top .1s ease-in-out; */
    /* top: 64px !important; */
}

::ng-deep .cdk-overlay-container .mat-menu-panel.notifications-menu {
    max-width: 350px;
    width: 350px;
}

.notifications-menu {
    display: none;
}

::ng-deep .cdk-overlay-container .mat-menu-panel .mat-menu-content {
    margin: 0;
    padding: 0;
}

::ng-deep .cdk-overlay-container .mat-menu-panel.mat-elevation-z2 {
    box-shadow: 0 3px 5px -0px rgba(0, 0, 0, 0.26);
}

.effeckt-positional-modal-wrap {
    position: absolute;
    z-index: 10;
    display: none;
}

.effeckt-positional-modal-wrap.effeckt-front {
    z-index: 20;
}

.effeckt-positional-modal-wrap[data-effeckt-position="above"] {
    margin-top: -15px;
}

.effeckt-positional-modal-wrap[data-effeckt-position="above"] .effeckt-modal:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -10px;
    border-top: 10px solid #ccc;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}

.effeckt-positional-modal-wrap[data-effeckt-position="below"] {
    margin-top: 15px;
}

.effeckt-positional-modal-wrap[data-effeckt-position="below"] .effeckt-modal:before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -10px;
    border-bottom: 10px solid #ccc;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}

.effeckt-positional-modal-wrap[data-effeckt-position="right"] {
    margin-left: 15px;
}

.effeckt-positional-modal-wrap[data-effeckt-position="right"] .effeckt-modal:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    width: 0;
    height: 0;
    margin-top: -10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #ccc;
}

.effeckt-positional-modal-wrap[data-effeckt-position="left"] {
    margin-left: -15px;
}

.effeckt-positional-modal-wrap[data-effeckt-position="left"] .effeckt-modal:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    width: 0;
    height: 0;
    margin-top: -10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #ccc;
}

.custom-icon-container {
    position: relative;
}

.custom-icon-container:hover .btn-icon {
    color: #e91e63;
}

.custom-badge {
    position: absolute;
    cursor: pointer;
    width: 17px;
    height: 17px;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.26);
    background-color: #e91e63;
    color: white;
    padding: 3px;
    font-size: .7em;
    top: -2px;
    right: 2px;
    border-radius: 50%;
    font-weight: bold;
    -webkit-transition: background-color .15s ease-in-out, color .15s ease-in-out;
    -moz-transition: background-color .15s ease-in-out, color .15s ease-in-out;
    -ms-transition: background-color .15s ease-in-out, color .15s ease-in-out;
    -o-transition: background-color .15s ease-in-out, color .15s ease-in-out;
    transition: background-color .15s ease-in-out, color .15s ease-in-out;
}

.custom-icon-container:hover .custom-badge {
    background-color: white;
    color: rgb(233, 30, 99, .86);
}
