<header class="toolbar" [ngClass]="{ 'scrolled' : scrolled, 'hidden' : scrolledDown && !isMenuOpened }" fxLayout="row" fxLayoutAlign="center center" appHeaderScroll (scrollPosition)="onPositionChange($event)"
    (scrollDirection)="onScrollDirectionChange($event)">
    <div class="mat-toolbar-layout">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center" style="width: 180px;">
                <a class="logo" routerLink="/" fxLayout="row" fxLayoutAlign="center center">
                    <span class="photo">Photo</span>
                    <span class="cloud">Cloud</span>
                </a>
            </div>
            <div class="search-box-container" *ngIf="currentUser && isAuthenticated && currentUser.isActive">
                <app-search-box [scrolled]="scrolled"></app-search-box>
            </div>
            <div fxLayout="row" fxLayoutAlign="end center" *ngIf="!currentUser || !isAuthenticated" style="width: 180px;">
                <a class="btn-signin" mat-button color="primary" routerLink="/account/signin">
                    SIGN IN
                </a>
            </div>
            <div class="toolbar-actions" fxLayout="row" fxLayoutAlign="space-between center" *ngIf="currentUser && isAuthenticated" style="width: 180px;">
                <!-- <mat-icon class="btn-icon mat-36 thin" svgIcon="compass" (click)="explorePeople()" *ngIf="currentUser.isActive"></mat-icon> -->
                <!-- <mat-icon class="btn-icon mat-36 thin" matBadge="{{unreadActivitiesCount}}" [matBadgeHidden]="!unreadActivitiesCount" matBadgeColor="primary" matBadgeOverlap="true" svgIcon="bell" [matMenuTriggerFor]="notificationsMenu"
                    *ngIf="currentUser.isActive">
                </mat-icon> -->
                <mat-icon class="btn-icon mat-36 thin" (click)="explorePeople()" *ngIf="currentUser.isActive">explore</mat-icon>
                <mat-icon class="btn-icon mat-36 thin" matBadge="{{unreadActivitiesCount}}" [matBadgeHidden]="!unreadActivitiesCount" matBadgeColor="primary" [matMenuTriggerFor]="notificationsMenu" *ngIf="currentUser.isActive">notifications_none</mat-icon>
                <mat-menu style="display: none;" (menuOpened)="onMenuOpened($event)" class="notifications-menu" xPosition="before" #notificationsMenu="matMenu" [overlapTrigger]="true">
                    <div appClickStopPropagation>
                        <app-notifications #appNotifications (onOpenRequests)="openRequests($event)" (onOpenAllNotifications)="openNotifications($event)"></app-notifications>
                    </div>
                </mat-menu>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <a (click)="profile()" fxLayout="row" fxLayoutAlign="center center">
                        <img class="avatar" src="{{currentUser.pictureUri}}" default="assets/images/user-default-image.png" alt="{{currentUser.username}}" matTooltipPosition="after">
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
