.user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 90px;
    object-fit: cover;
    outline: none;
    cursor: pointer;
}

.users-details-container {
    padding-left: 10px;
}

.user-username {}
