<div fxLayout="column" style="width: 600px; height: 75vh;padding: 15px;">
    <div style="border-bottom: 1px solid #d8d8d8; padding-bottom: 20px;" fxLayout="row" fxLayoutAlign="center center">
        <span>{{title}}</span>
    </div>
    <div *ngFor="let user of users" fxLayout="row" style="padding-bottom: 10px;border-bottom: 1px solid #efefef;margin-top:10px; box-sizing: border-box;">
        <img class="user-avatar" [routerLink]="['/', user.username]" src="{{user.pictureUri}}" default="assets/images/user-default-image.png"
            alt="profile">
        <div class="users-details-container" fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
            <a class="username" [routerLink]="['/', user.username]">{{user.username}}</a>
            <div fxLayout="row" fxLayoutAlign="center end">
                <button class="btn-relationships" mat-raised-button color="primary" (click)="modifyRelationship(user)" [disabled]="modifying[user.id]"
                    *ngIf="currentUser && currentUser.id !== user.id">{{user.incommingStatus | relationshipAction | uppercase }}</button>
            </div>
        </div>
    </div>
</div>
