<div fxLayout="column" style="padding: .7rem;">
    <div style="padding-bottom: .5rem;" fxLayout="row" fxLayoutAlign="space-between center">
        <span style="color:#444444; font-weight: bold; font-size: 1.2em; text-transform: uppercase; letter-spacing: 1px;">{{title}}</span>
        <mat-icon class="btn-icon mat-24" (click)="close()" tabindex="-1">clear</mat-icon>
    </div>
    <div *ngFor="let user of users" fxLayout="row" style="padding-bottom: 10px;border-bottom: 1px solid #efefef;margin-top:10px; box-sizing: border-box;">
        <img class="user-avatar" [routerLink]="['/', user.username]" src="{{user.pictureUri}}" default="assets/images/user-default-image.png"
            alt="profile">
        <div class="users-details-container" fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
            <a class="user-username" [routerLink]="['/', user.username]">{{user.username}}</a>
            <div fxLayout="row" fxLayoutAlign="center end">
                <button mat-button class="btn-relationships" (click)="modifyRelationship(user)" [disabled]="user.isModifyingRelationship"
                    *ngIf="currentUser && currentUser.id !== user.id">{{user.incommingStatus | relationshipAction | uppercase }}</button>
            </div>
        </div>
    </div>
</div>
