<div fxLayout="column" fxLayoutAlign="start center" fxFlex>
    <div class="posts-container" *ngIf="isLoading || (page && page.data && page.data.length > 0); else emptyFeed;">
        <app-post *ngFor="let media of page.data; trackBy: index;" [media]="media" (onRemoved)="onRemoved($event)"></app-post>
        <div fxLayout="row" fxLayoutAlign="center center" *ngIf="page.hasMoreItems">
            <button mat-raised-button (click)="getPosts()" [disabled]="isLoading">Load More</button>
        </div>
    </div>
    <ng-template #emptyFeed>
        <div class="message-container">
            <span class="message">No one has posted anything yet</span>
        </div>
    </ng-template>
</div>
<button class="mat-fab-bottom-right" (click)="createPost()" mat-fab>
    <mat-icon>add</mat-icon>
</button>
