<div fxLayout="column" fxLayoutAlign="start center" fxFlex>
    <div class="posts-container" *ngIf="page">
        <app-post *ngFor="let post of page.data; trackBy: index;" [post]="post" (onRemoved)="onRemoved($event)"></app-post>
        <div fxLayout="row" fxLayoutAlign="center center" *ngIf="page.hasMoreItems">
            <button md-raised-button (click)="getPosts()" [disabled]="isLoading">Load More</button>
        </div>
    </div>
</div>
<button class="md-fab-bottom-right" (click)="createPost()" md-fab>
    <md-icon>add</md-icon>
</button>
