.confirm-modal {
    width: 500px;
    padding: 6px 12px 12px 12px;
}

.confirm-button {
    margin-left: 15px;
}

.confirm-modal-header {
    padding: 0;
}

.confirm-modal-title {
    font-weight: bold;
    font-size: 1.3em;
}

.confirm-modal-message {
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.7;
}

.confirm-content {
    margin-top: 12px;
}

.confirm-actions {
    margin-top: 44px;
}
