.confirm-modal {
    padding: .7rem;
}

.confirm-button {
    margin-left: .7rem;
}

.confirm-modal-header {
    padding: 0;
}

.confirm-modal-title {
    font-weight: bold;
    font-size: 1.3em;
}

.confirm-modal-message {
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.7;
}

.confirm-content {
    margin-top: .7rem;
}

.confirm-actions {
    margin-top: 44px;
}
