<div class="comments">
    <a class="text-button" [ngClass]="{'disabled' : isLoading}" (click)="getComments()" *ngIf="media.comments.length < media.commentsCount">
        view all {{media.commentsCount}} comments
    </a>
    <div *ngFor="let comment of media.comments;" fxLayout="row">
        <a class="comment-username" [routerLink]="['/', comment.user.username]">
            {{comment.user.username}}
        </a>
        <span class="comment-text" [innerHTML]="comment.text | raw"></span>
    </div>
</div>
