a {
    text-decoration: none;
    color: inherit;
    padding-right: 5px;
}

.comments {
    margin-top: 5px;
    line-height: 1.9em;
}

.text-button {
    font-size: 0.9em;
    color: #757575;
    cursor: pointer;
}

.text-button:hover {
    color: #e91e63;
}
