<div class="post z-depth-2">
    <div class="post-header" fxLayout="row">
        <img class="post-avatar" [routerLink]="['/', post.user.username]" src="{{post.user.pictureUri}}" alt="profile">
        <div class="post-author" fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
            <a class="mat-body-1" [routerLink]="['/', post.user.username]">{{post.user.username}}</a>
            <div fxLayout="row" fxLayout="center end" *ngIf="post.user.id === currentUser.id">
                <button md-icon-button type="button" [mdMenuTriggerFor]="menu"><md-icon>expand_more</md-icon></button>
                <md-menu #menu="mdMenu" xPosition="before">
                    <button md-menu-item (click)="remove()">
                        <md-icon>delete</md-icon>
                        <span>Remove</span>
                    </button>
                </md-menu>
            </div>
        </div>
    </div>
    <div md-ripple class="post-content">
        <div class="post-content-buttons" fxLayout="row" fxLayoutAlign="space-between center" *ngIf="post.attachments.length > 1">
            <div>
                <button md-raised-button md-icon-button *ngIf="post.activeAttachment > 0" (click)="previous()">
                    <md-icon class="post-icon">chevron_left</md-icon>
                </button>
            </div>
            <div>
                <button md-raised-button md-icon-button *ngIf="post.activeAttachment != post.attachments.length - 1" (click)="next()">
                    <md-icon class="post-icon">chevron_right</md-icon>
                </button>
            </div>
        </div>
        <img class="post-attachment" src="{{attachment.uri}}" alt="post-image" *ngFor="let attachment of post.attachments; let index = index;"
            [hidden]="index !== post.activeAttachment">
    </div>
    <md-progress-bar class="progress-bar" color="warn" mode="indeterminate" *ngIf="post.isLoading"></md-progress-bar>
    <div class="post-footer">
        <div class="likes" fxLayout="row" fxLayoutAlign="space-between center">
            <span><strong>{{post.likesCount}} likes</strong></span>
        </div>
        <div class="post-caption" *ngIf="post.caption">
            <a [routerLink]="['/', post.user.username]"><strong>{{post.user.username}}</strong></a>
            <span>{{post.caption}}</span>
        </div>
        <div>
            <app-comments [post]="post"></app-comments>
        </div>
        <div class="post-date">
            <span class="post-created">{{post.created | timeAgo}}</span>
        </div>
    </div>
    <hr/>
    <div class="post-actions" fxLayout="row">
        <button [ngClass]="{ 'liked' : post.userHasLiked }" md-icon-button (click)="like()">
            <md-icon>favorite_border</md-icon>
        </button>
        <input class="comment-input" type="text" placeholder="Add comment" [(ngModel)]="text" (keydown.enter)="createComment()" />
        <button md-icon-button mdTooltip="Copy to clipboard" mdTooltipPosition="left" ngxClipboard [cbContent]="share()" (cbOnSuccess)="showToast('Copied to clipboard')">
            <md-icon>share</md-icon>
        </button>
    </div>
</div>
