<div class="post mat-elevation-z1" *ngIf="post">
    <div class="post-header" fxLayout="row" *ngIf="!post.editing">
        <img class="post-avatar" [routerLink]="['/', post.user.username]" src="{{post.user.pictureUri}}" default="assets/images/user-default-image.png"
            alt="profile">
        <div class="post-author" fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
            <a class="post-author-username" [routerLink]="['/', post.user.username]">{{post.user.username}}</a>
            <div fxLayout="row" fxLayout="center end" *ngIf="currentUser && post.user.id === currentUser.id">
                <button mat-icon-button type="button" [matMenuTriggerFor]="menu">
                    <mat-icon>expand_more</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                    <button mat-menu-item (click)="edit()">
                        <mat-icon>edit</mat-icon>
                        <span>Edit</span>
                    </button>
                    <button mat-menu-item (click)="remove()">
                        <mat-icon>delete</mat-icon>
                        <span>Remove</span>
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>
    <div mat-ripple class="post-content">
        <div class="post-content-buttons" fxLayout="row" fxLayoutAlign="space-between center" *ngIf="post.attachments.length > 1">
            <div>
                <button mat-raised-button mat-icon-button *ngIf="post.activeAttachment > 0" (click)="previous()">
                    <mat-icon class="post-icon">chevron_left</mat-icon>
                </button>
            </div>
            <div>
                <button mat-raised-button mat-icon-button *ngIf="post.activeAttachment != post.attachments.length - 1" (click)="next()">
                    <mat-icon class="post-icon">chevron_right</mat-icon>
                </button>
            </div>
        </div>
        <div class="post-content-buttons" fxLayout="row" fxLayoutAlign="center center" *ngIf="post.attachments[0].type === 1">
            <div class="playpause">
                <input type="checkbox" value="None" id="playpause" name="check" />
                <label for="playpause" tabindex=1></label>
            </div>
        </div>
        <div (click)='play()' *ngFor="let attachment of post.attachments; let index = index;" [hidden]="index !== post.activeAttachment">
            <img class="post-attachment" src="{{attachment.uri}}" alt="post-image" *ngIf="attachment.type !== 1">
            <video class="post-attachment" *ngIf="attachment.type === 1" loop #player>
                <source src="{{attachment.uri}}">
            </video>
        </div>
    </div>
    <mat-progress-bar class="progress-bar" color="warn" mode="indeterminate" *ngIf="post.isLoading"></mat-progress-bar>
    <div class="post-footer" *ngIf="!post.editing">
        <div class="likes" fxLayout="row" fxLayoutAlign="space-between center" (click)="openLikesDialog(post)">
            <span class="likes-counter">
                <strong>{{post.likesCount}} likes</strong>
            </span>
        </div>
        <div class="post-caption" *ngIf="post.caption">
            <a [routerLink]="['/', post.user.username]">
                <strong>{{post.user.username}}</strong>
            </a>
            <app-caption caption="{{post.caption}}"></app-caption>
        </div>
        <div>
            <app-comments [post]="post"></app-comments>
        </div>
        <div class="post-date">
            <span class="post-created">{{post.created | amTimeAgo}}</span>
        </div>
    </div>
    <div class="post-edit-footer" *ngIf="post.editing">
        <div class="post-edit-caption">
            <textarea rows="5" class="caption-input" placeholder="Edit Caption" type="text" [(ngModel)]="caption" fxFlex></textarea>
        </div>
    </div>
    <div class="post-actions" fxLayout="row" *ngIf="!post.editing">
        <button class="icon-button" [ngClass]="{ 'liked' : post.userHasLiked }" mat-icon-button (click)="like()">
            <mat-icon>favorite_bordered</mat-icon>
        </button>
        <input class="comment-input" type="text" placeholder="Add comment" [(ngModel)]="text" (keydown.enter)="createComment()" />
        <button class="icon-button" mat-icon-button matTooltip="Copy to clipboard" matTooltipPosition="left" ngxClipboard [cbContent]="share()"
            (cbOnSuccess)="showToast('Copied to clipboard')">
            <mat-icon>share</mat-icon>
        </button>
    </div>
    <div class="post-edit-actions" fxLayout="row" fxLayoutAlign="end center" *ngIf="post.editing">
        <button class="save-button" mat-raised-button color="primary" (click)="update()">SAVE</button>
        <button mat-button (click)="cancel()">CANCEl</button>
    </div>
</div>
