<div fxLayout="row" fxLayoutAlign="space-between center" style="height: 100vh; color: #444444;">
    <div style="height: 390px; padding: 0 0 0 25px; width: 500px;" fxLayout="column" fxLayoutAlign="start start">
        <h1 style="font-weight: 300;">Welcome to <strong>PhotoCloud</strong></h1>
        <p style="word-wrap: normal; line-height: 2.0;">
            Connect with your friends — and other fascinating people. Get in-the-moment updates on the things that interest you. And
            watch events unfold, in real time, from every angle.
        </p>
    </div>
    <div style="position: relative; width: 400px; height: 100%;" fxLayout="row" fxLayoutAlign="end center">
        <div style="background: #e91e63; width: 450px; height: 100%;">
        </div>
        <div fxLayout="column" fxLayoutAlign="center start" style="position: absolute; width: 400px; right: 100px; z-index: 10;">
            <form class="mat-elevation-z1" (ngSubmit)="signUp()" style="position: relative; background: white; width: 100%; padding: 25px; height: 460px;">
                <md-progress-bar mode="indeterminate" *ngIf="isLoading" style="position: absolute; top: 0; left: 0;"></md-progress-bar>
                <div fxLayout="column">
                    <span style="font-weight: 300; font-size: 34px;">PhotoCloud</span>
                    <p style="color: #777777;">Sign up to continue</p>
                </div>
                <div fxLayout="column">
                    <md-form-field style="width: 100%;">
                        <input mdInput placeholder="Username" type="text" [(ngModel)]="account.username" name="username" autocomplete="off">
                        <md-icon mdSuffix>person</md-icon>
                    </md-form-field>
                    <md-form-field style="width: 100%;">
                        <input mdInput placeholder="Email address" type="text" [(ngModel)]="account.email" name="username" autocomplete="off">
                        <md-icon mdSuffix>email</md-icon>
                    </md-form-field>
                    <md-form-field style="width: 100%;">
                        <input mdInput placeholder="Password" type="password" [(ngModel)]="account.password" name="password" autocomplete="off">
                        <md-icon mdSuffix>vpn_key</md-icon>
                    </md-form-field>
                    <md-form-field style="width: 100%;">
                        <input mdInput placeholder="Confirm Password" type="password" [(ngModel)]="account.confirmPassword" name="password" autocomplete="off">
                        <md-icon mdSuffix>vpn_key</md-icon>
                    </md-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <a class="signin-link" [routerLink]="['/signin']">Already have an account?</a>
                    <button class="signin-button" md-raised-button color="accent" type="sumbit">Create Account</button>
                </div>

                <div class="error-container" fxLayout="column" fxLayoutAlign="center center" *ngIf="errors">
                    <span class="mat-subhead error" *ngFor="let error of errors">{{error}}</span>
                </div>
            </form>
        </div>
    </div>
    <div style="position: absolute; bottom: 25px; left: 25px;">
        <span style="font-weight: bold;">© 2017 PHOTOCLOUD</span>
    </div>
</div>
