@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
body {
    background-color: #FAFAFA;
    color: #444444;
    font-family: Roboto, sans-serif;
    overflow-y: scroll;
}

.container {
    width: 75%;
}

.center {
    margin: auto;
}

mat-icon>svg {
    stroke-width: 1px;
}

.mat-dialog-container {
    padding: 0px !important;
}

a {
    text-decoration: none;
    color: inherit;
}
