/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
html,
body,
material-app,
mat-sidenav-container,
.my-content {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    overflow-y: scroll;
}

body {
    background-color: #FAFAFA;
    color: #444444;
    font-family: Roboto, sans-serif;
}

.container {
    width: 75%;
}

.center {
    margin: auto;
}

mat-icon>svg {
    stroke-width: 1px;
}

.mat-dialog-container {
    padding: 0px !important;
}

a {
    text-decoration: none;
    color: inherit;
}
