::ng-deep .search-box>.mat-input-underline {
    display: none;
}

.user-search-avatar {
    width: 40px;
    height: 40px;
    border-radius: 90px;
    object-fit: cover;
    outline: none;
    cursor: pointer;
    vertical-align: middle;
}

.search-box-container {
    max-width: 600px;
    position: relative;
    color: rgb(0, 0, 0, .85);
    z-index: 777;
}

.search-box {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    width: 100%;
    border: none;
    border-radius: 2px;
    outline: none;
    background: #f5f5f5;
    padding: .7rem 2.4rem;
    -webkit-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
}

.search-box:focus {
    background: white;
    box-shadow: 0 3px 8px -3px rgba(0, 0, 0, 0.26);
}

.search-box-container>mat-icon {
    position: absolute;
    left: 12px;
    pointer-events: none;
    color: #747474;
    margin-top: 1px;
}

.search-box-spinner {
    position: absolute;
    right: 5px;
}

.search-box-icon-button {
    position: absolute;
    right: 0px;
}
