<div class="search-box-container" fxLayout="row" fxLayoutAlign="start center">
    <mat-icon class="mat-18">search</mat-icon>
    <input class="search-box" [ngClass]="{ 'scrolled' : scrolled}" type="text" placeholder="Search" [matAutocomplete]="auto" [formControl]="searchControl"
        aria-label="UserViewModel">
    <mat-spinner class="search-box-spinner" [strokeWidth]="2" [diameter]="25" *ngIf="isSearching"></mat-spinner>
    <button class="search-box-icon-button" mat-icon-button *ngIf="searchControl.value && !isSearching" (click)="clear()">
        <mat-icon class="mat-18">clear</mat-icon>
    </button>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectionChanged($event)">
        <mat-option *ngFor="let user of users | async" [value]="user.username">
            <img class="user-search-avatar" src="{{user.pictureUri}}" default="assets/images/user-default-image.png" aria-hidden alt="" />
            <span>{{user.username}}</span>
        </mat-option>
    </mat-autocomplete>
</div>
