::ng-deep .search-box>.mat-input-underline {
    display: none;
}

.user-search-avatar {
    width: 40px;
    height: 40px;
    border-radius: 90px;
    object-fit: cover;
    outline: none;
    cursor: pointer;
    vertical-align: middle;
}

.search-box-container {
    max-width: 600px;
    position: relative;
    color: rgb(0, 0, 0, .85);
    z-index: 999;
}

.search-box {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    width: 100%;
    background: #fafafa;
    /* border: 1px solid #ebebeb; */
    /* border-bottom: none; */
    /* box-shadow: 0 5px 8px -5px rgba(0, 0, 0, 0.26); */
    border: none;
    border-radius: 2px;
    outline: none;
    padding: .7rem 2.4rem;
    -webkit-transition: background-color .25s ease-in-out, box-shadow .25s ease-in-out;
    -moz-transition: background-color .25s ease-in-out, box-shadow .25s ease-in-out;
    -ms-transition: background-color .25s ease-in-out, box-shadow .25s ease-in-out;
    -o-transition: background-color .25s ease-in-out, box-shadow .25s ease-in-out;
    transition: background-color .25s ease-in-out, box-shadow .25s ease-in-out;
}

.search-box.scrolled {
    background-color: #fafafa;
    border: none;
    box-shadow: none;
}

.search-box:focus {
    background-color: white;
    box-shadow: 0 3px 8px -3px rgba(0, 0, 0, 0.26);
    border-bottom: none;
}

.search-box-container>mat-icon {
    position: absolute;
    left: 12px;
    pointer-events: none;
    color: #747474;
    margin-top: 1px;
}

.search-box-spinner {
    position: absolute;
    right: 5px;
}

.search-box-icon-button {
    position: absolute;
    right: 0px;
}
