<div class="media-view">
    <div style="position: absolute; top: .7rem; left: .7rem; z-index: 999;" (click)="close()" *ngIf="isMobile">
        <mat-icon class="mat-18" style="color: white; 2px 2px 2px rgba(0, 0, 0, 0.26);">arrow_back_ios</mat-icon>
    </div>
    <div>
        <div mat-ripple class="media-view__attachment-container" fxLayout="row" fxLayoutAlign="center center" (click)='play()'>
            <div class="navigation" fxLayout="row" fxLayoutAlign="space-between center" *ngIf="media.attachments.length > 1">
                <div>
                    <mat-icon class="mat-36" *ngIf="media.activeAttachment > 0" (click)="previous()">chevron_left</mat-icon>
                </div>
                <div>
                    <mat-icon class="mat-36" *ngIf="media.activeAttachment != media.attachments.length - 1" (click)="next()" Ï>chevron_right</mat-icon>
                </div>
            </div>
            <div class="attachment-items" *ngFor="let attachment of media.attachments; let index = index;">
                <div class="attachment-item-container" [hidden]="index !== media.activeAttachment" *ngIf="(media.activeAttachment === index && attachment.type === 1) || (attachment.type !== 1)">
                    <img class="attachment-image" src="{{attachment.uri}}" alt="media-image" *ngIf="attachment.type !== 1">
                    <video class="attachment-image" *ngIf="attachment.type === 1" loop #player type="video/mp4">
                        <source src="{{attachment.uri}}">
                    </video>
                </div>
            </div>
        </div>
    </div>

    <aside class="media-view-details" fxLayout="column" *ngIf="!media.editing; else editMode;">
        <header>
            <div fxLayout="row">
                <img class="avatar" [src]="media.user.pictureUri" alt="User avatar">
                <div class="details" fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxLayout="column">
                        <a class="username" [routerLink]="['/', media.user.username]">{{media.user.username}}</a>
                        <span class="date" matTooltip="{{media.created | date:'fullDate'}}" matTooltipPosition="right">{{media.created | timeAgo}}</span>
                    </div>
                    <div class="icon-wrapper" fxLayout="column" fxLayoutAlign="start" *ngIf="currentUser && currentUser.id === media.user.id">
                        <mat-icon class="btn-icon mat-18" (click)="media.editing = true">edit</mat-icon>
                    </div>
                </div>
            </div>
        </header>
        <main fxLayout="column" fxLayoutAlign="start start" fxFlex style="min-height: 400px;">
            <div class="caption-container" *ngIf="media.caption">
                <a class="author-username" [routerLink]="['/', media.user.username]">
                    {{media.user.username}}
                </a>
                <app-caption caption="{{media.caption}}"></app-caption>
            </div>
            <span class="comments-header">Comments</span>
            <div class="comments-container" [ngClass]="{ 'empty' : !media.commentsCount }" fxLayout="column" fxFlex>
                <div *ngIf="!media.commentsCount">
                    <span class="subtitle">No comments yet</span>
                </div>
                <app-comments #commentsComponent [media]="media" [hidden]="!media.commentsCount"></app-comments>
            </div>
            <!-- <div style="width: 100%;" *ngIf="media.attachments.length > 1">
                <span style="font-weight: bold; padding-bottom: .7rem; display: block;">Attachments</span>
                <div class="media-preview-items">
                    <div class="preview-item" *ngFor="let item of media.attachments; let index = index;">
                        <div class="attachment-preview-container" [ngClass]="{ 'transparent' : item.removed }" mat-ripple (click)="select(item)">
                            <img [src]="item.uri" *ngIf="item.type !== 1">
                            <video *ngIf="item.type === 1">
                                <source src="{{item.uri}}">
                            </video>
                        </div>
                    </div>
                </div>
            </div> -->
        </main>
        <footer>
            <div class="actions" fxLayout="row" fxLayoutAlign="space-between center">
                <div style="position: relative;">
                    <mat-icon class="btn-icon mat-24" [ngClass]="{ 'warn' : media.userHasLiked }" (click)="like()" >favorite_border</mat-icon>
                    <mat-icon class="btn-icon mat-24 comment-icon" *ngIf="media.allowComments" (click)="commentBox.focusCommentInput()">comment_outline</mat-icon>
                </div>
                <mat-icon class="btn-icon mat-24" matTooltip="Share" matTooltipPosition="left" ngxClipboard [cbContent]="shareMediaLink" (cbOnSuccess)="showToast('Copied to clipboard')">share</mat-icon>
            </div>
            <div>
                <div class="likes-container" fxLayout="row" fxLayoutAlign="start center">
                    <app-likes [media]="media"></app-likes>
                </div>
            </div>
            <app-comment-box #commentBox (submitted)="createComment($event)"></app-comment-box>
        </footer>
    </aside>
</div>

<ng-template #editMode>
    <aside class="media-view-details">
        <app-media-edit-component [media]="media"></app-media-edit-component>
    </aside>
</ng-template>
