.media-view-container {
    overflow-x: hidden;
    overflow-y: hidden;
    max-height: calc(100vh - 1.4rem);
    max-width: calc(100vw - 1.4rem);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

@media (max-width: 999px) {
    .media-view-container {
        max-height: 100%;
        flex-direction: column;
        overflow-y: auto;
    }
    .media-view-details {
        max-height: 100%;
        max-width: calc(100vw - 1.4rem);
    }
    .media-view-container {
        max-height: 100%;
    }
}

@media (min-width: 1000px) {
    .media-view-container {
        max-height: calc(100vh - 1.4rem);
        flex-direction: row;
        overflow-y: auto;
    }
    .media-view-details {
        max-height: calc(100vh - 1.4rem);
        max-width: 350px;
    }
    .comments-container {
        overflow-y: auto;
    }
}

.media-view-details {
    box-sizing: border-box;
    min-width: 350px;
}

.comments-container {
    width: 100%;
    line-height: 1.5;
}

.comments-header {
    padding-bottom: .5rem;
    font-weight: bold;
    display: block;
}

.comments-container .subtitle {
    color: rgb(0, 0, 0, .65);
}

.comments-container.empty {
    place-content: center;
    align-items: center;
}

.media-view-details header {
    padding: .7rem;
}

.media-view-details header .avatar {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
}

.media-view-details header .details {
    padding-left: .7rem;
    width: 100%;
}

.details .username {
    font-weight: bold;
    padding-bottom: .25rem;
    display: block;
}

.details .date {
    font-size: .9em;
    font-weight: lighter;
    color: rgb(0, 0, 0, .65);
    margin-right: auto;
}

.icon-wrapper {
    height: 100%;
}

.media-view-details main {
    padding: 0 0 1.4rem .7rem;
    overflow-y: hidden;
}

.caption-container {
    padding: 0 .7rem .7rem 0;
    line-height: 1.5;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
}

.caption-container .author-username {
    font-weight: bold;
    margin-right: .25rem;
}

.media-view-details footer {
    padding: 0 .7rem .3rem;
}

.media-view-details footer .actions {
    padding-bottom: .25rem;
    border-top: 1px solid #eaeaea;
    padding-top: .75rem;
}

.comment-icon {
    margin-left: .75rem;
}

.likes-container {
    padding-bottom: .7rem;
    width: 100%;
    line-height: 1.5;
}

.media-view-container .attachment-container {
    max-height: calc(100vh - 1.4rem);
    position: relative;
}

.media-view-container .attachment-container>.attachment-items,
.media-view-container .attachment-container>.attachment-items>.attachment-item-container,
.media-view-container .attachment-container>.attachment-items>.attachment-item-container .attachment-image {
    max-height: inherit;
    width: auto;
    vertical-align: bottom;
    max-width: 100%;
}

.attachment-container .navigation {
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 .7rem;
    z-index: 1;
    -webkit-transition: opacity .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: opacity .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.attachment-container:not([disabled]):hover .navigation {
    opacity: 1;
}

.attachment-container>.navigation mat-icon {
    color: rgb(255, 255, 255, .8);
    text-shadow: 2px 2px 4px rgb(0, 0, 0, .86);
    cursor: pointer;
    -webkit-transition: background-color .15s ease-in-out, transform .15s ease-in-out;
    -moz-transition: background-color .15s ease-in-out, transform .15s ease-in-out;
    -ms-transition: background-color .15s ease-in-out, transform .15s ease-in-out;
    -o-transition: background-color .15s ease-in-out, transform .15s ease-in-out;
    transition: background-color .15s ease-in-out, transform .15s ease-in-out;
}

.attachment-container>.navigation mat-icon:hover {
    color: rgb(255, 255, 255, 1);
}

.mat-form-field.mat-form-comment-field {
    display: inherit;
}

:host ::ng-deep .mat-form-field.mat-form-comment-field div.mat-input-wrapper.mat-form-field-wrapper {
    padding-bottom: 0;
}

:host ::ng-deep .mat-form-field.mat-form-comment-field .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0 !important;
}
