<div class="media-view-container">
    <div class="attachment-container" mat-ripple (click)='play()'>
        <div class="navigation" fxLayout="row" fxLayoutAlign="space-between center" *ngIf="media.attachments.length > 1">
            <div>
                <mat-icon class="mat-36" *ngIf="media.activeAttachment > 0" (click)="previous()">chevron_left</mat-icon>
            </div>
            <div>
                <mat-icon class="mat-36" *ngIf="media.activeAttachment != media.attachments.length - 1" (click)="next()" Ï>chevron_right</mat-icon>
            </div>
        </div>
        <div class="attachment-items" *ngFor="let attachment of media.attachments; let index = index;">
            <div class="attachment-item-container" [hidden]="index !== media.activeAttachment" *ngIf="(media.activeAttachment === index && attachment.type === 1) || (attachment.type !== 1)">
                <img class="attachment-image" src="{{attachment.uri}}" alt="media-image" *ngIf="attachment.type !== 1">
                <video class="attachment-image" *ngIf="attachment.type === 1" loop #player>
                    <source src="{{attachment.uri}}">
                </video>
            </div>
        </div>
        <!-- <img #attachment class="attachment" [src]="media.attachments[0].uri" alt="Media Attachment"> -->
    </div>
    <aside class="media-view-details">
        <header style="padding-bottom: .7rem;">
            <div fxLayout="row" style="width: 100%;">
                <img style="width: 45px; height: 45px; object-fit: cover; border-radius: 50%;" [src]="media.user.pictureUri" alt="User avatar">
                <div style="padding-left: .7rem; width: 100%;" fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxLayout="column">
                        <span style="padding-bottom: .5rem; display: block;">{{media.user.username}}</span>
                        <span style="font-size: .9em; font-weight: lighter; color: rgb(0, 0, 0, .65); margin-right: auto;" matTooltip="{{media.created | date:'fullDate'}}" matTooltipPosition="right">{{media.created | timeAgo}}</span>
                    </div>
                    <div style="height: 100%;" fxLayout="column" fxLayoutAlign="start">
                        <mat-icon class="btn-icon mat-18">edit</mat-icon>
                    </div>
                </div>
            </div>
        </header>
        <main fxLayout="column" fxLayoutAlign="start start" style="padding-bottom: .7rem; width: 100%;">
            <div style="padding-bottom: .7rem; width: 100%;" fxLayout="row" *ngIf="media.caption">
                <a style="margin-right: .25rem;" [routerLink]="['/', media.user.username]">
                    <strong>{{media.user.username}}</strong>
                </a>
                <app-caption caption="{{media.caption}}"></app-caption>
            </div>
            <div style="padding-bottom: .7rem; width: 100%;">likes</div>
            <div style="width: 100%;">comments</div>
        </main>
        <footer>
            footer
        </footer>
    </aside>
</div>
