<div class="create-media-container">
    <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
        <span class="title">CREATE POST</span>
        <mat-icon class="btn-icon mat-18" (click)="close()">clear</mat-icon>
    </div>
    <div class="content">
        <div class="details" fxLayout="row" *ngIf="media.attachments.length > 0">
            <div class="preview" fxLayout="column" fxLayoutAlign="start center">
                <img [src]="media.attachments[media.selectedAttachmentIndex].uri" alt="preview" *ngIf="media.attachments[media.selectedAttachmentIndex].type !== 1">
                <video *ngIf="media.attachments[media.selectedAttachmentIndex].type === 1">
                    <source [src]="media.attachments[media.selectedAttachmentIndex].uri">
                </video>
                <!-- <img [src]="media.attachments[media.selectedAttachmentIndex].uri" alt="preview"> -->
                <a class="primary" [ngClass]="{ 'disabled' : media.coverAttachmentIndex === media.selectedAttachmentIndex }" (click)="setAsCover()">Use as cover</a>
            </div>
            <textarea class="caption" [(ngModel)]="media.caption" rows="5" placeholder="Write a caption..."></textarea>
        </div>
        <div class="preview-items">
            <div *ngFor="let item of uploader.queue; let index = index;">
                <mat-icon mat-ripple class="btn-icon btn-remove mat-18" (click)="remove(index)">clear</mat-icon>
                <div class="preview-container" mat-ripple (click)="select(index)">
                    <video appImagePreview [image]="item?._file" *ngIf="item?._file.type === 'video/mp4'" loop>
                    </video>
                    <img appImagePreview [image]="item?._file" alt="upload-preview" *ngIf="item?._file.type !== 'video/mp4'">
                </div>
                <div class="preview-img-overlay" fxLayout="row" fxLayoutAlign="center center" *ngIf="!item.isUploaded">
                    <span *ngIf="item.progress && item.progress < 100">{{item.progress}}</span>
                    <mat-progress-spinner diameter="40" strokeWidth="2" [value]="item.progress" mode="{{item.progress && item.progress < 100 ? 'determinate' : 'indeterminate' }}"></mat-progress-spinner>
                </div>
            </div>
            <div>
                <div class="btn-add" mat-ripple fxLayout="row" fxLayoutAlign="center center" (click)="fileInput.click()">
                    <mat-icon>add</mat-icon>
                </div>
            </div>
        </div>
        <input #fileInput type="file" accept="image/*,video/*" ng2FileSelect [uploader]="uploader" hidden multiple/>
    </div>
    <div class="footer" fxLayout="row" fxLayoutAlign="end center">
        <button mat-raised-button color="primary" [disabled]="!uploader.queue.length || uploader.isUploading || isLoading" (click)="createMedia()">CREATE POST</button>
    </div>
</div>
