.create-media-container {
    width: 100%;
}

.create-media-container .header {
    background: white;
    width: 100%;
    box-sizing: border-box;
    padding: .75rem;
    border-bottom: 1px solid #eaeaea;
}

.create-media-container .header .title {
    font-weight: 600;
    font-size: 1.1em;
}

.create-media-container .content {
    padding: .75rem .75rem .2rem;
    background: white;
}

.create-media-container .content .details {
    padding-bottom: .7rem;
}

.create-media-container .content .details .preview {
    margin-right: .7rem;
}

.create-media-container .content .details .preview img,
.create-media-container .content .details .preview video {
    width: 85px;
    height: 85px;
    object-fit: cover;
    border-radius: 2px;
    padding-bottom: .5rem;
    box-sizing: border-box;
}

.create-media-container .content .details .preview a {
    font-size: .9em;
}

.create-media-container .content .details textarea.caption {
    box-sizing: border-box;
    font-size: .9em;
    letter-spacing: 1px;
    font-weight: lighter;
    border: none;
    outline: none;
    width: 100%;
    resize: none;
    line-height: 1.5;
}

.create-media-container .preview-items {
    overflow: hidden;
    display: grid;
    grid-gap: 1.4rem .7rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
    grid-auto-rows: minmax(70px, auto);
}

.create-media-container .preview-items .preview-container {
    width: 60px;
    height: 60px;
    position: relative;
}

.create-media-container .preview-items .preview-container img,
.create-media-container .preview-items .preview-container video {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 4px;
    vertical-align: bottom;
}

.create-media-container .preview-items .preview-img-overlay {
    width: 60px;
    height: 60px;
    background: rgb(0, 0, 0, .65);
    position: absolute;
    top: 0px;
    border-radius: 2px;
    color: rgb(255, 255, 255, .8);
}

.create-media-container .preview-img-overlay>span {
    position: absolute;
    font-size: .9em;
}

::ng-deep .create-media-container .preview-img-overlay>.mat-progress-spinner circle {
    stroke: rgb(255, 255, 255, .8);
}

.create-media-container .preview-items>div {
    width: 70px;
    height: 70px;
    position: relative;
}

.create-media-container .btn-icon.btn-remove {
    position: absolute;
    background: #f0f0f0;
    border-radius: 50%;
    padding: 2px;
    bottom: 0;
    right: 0;
    z-index: 999;
    color: rgb(0, 0, 0, .3);
}

.create-media-container .btn-icon.btn-remove:hover {
    background: #f5f5f5;
    color: rgb(0, 0, 0, .65);
}

.create-media-container .btn-add {
    position: relative;
    cursor: pointer;
    background: #eaeaea;
    color: rgb(0, 0, 0, .3);
    border-radius: 2px;
    width: 60px;
    height: 60px;
}

.create-media-container .footer {
    padding: .75rem;
    border-top: 1px solid #eaeaea;
}
