<div class="create-media-container" fxLayout="column">
    <div style="margin: -.5rem; padding: .5rem; border-bottom: 1px solid #d8d8d8; background: white;">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <span style="font-size: 1.2em; font-weight: 800;">CREATE POST</span>
            <mat-icon class="btn-icon" (click)="close()">clear</mat-icon>
        </div>
    </div>
    <div style="margin-top: 1rem;">
        <div class="attachments-content">
            <input #fileInput type="file" accept="image/*,video/*" ng2FileSelect [uploader]="uploader" hidden multiple/>
            <div class="attachments-container" fxLayout="row">
                <div class="upload-attachment-button" fxLayout="row" fxLayoutAlign="center center" mat-ripple (click)="fileInput.click()">
                    <mat-icon>add</mat-icon>
                </div>
                <div *ngFor="let item of uploader.queue; let index = index;" class="uploaded-attachment-mini" fxLayout="row" fxLayoutAlign="center center"
                    mat-ripple (click)="select(index)">
                    <img appImagePreview [image]="item?._file" alt="photo">
                    <div class="attachment-progress-container" fxLayout="row" fxLayoutAlign="center center" *ngIf="!item.isUploaded">
                        <mat-progress-spinner color="primary" [strokeWidth]="3" [diameter]="60" mode="determinate" value="{{item.progress}}"></mat-progress-spinner>
                        <span class="progress">{{item.progress}}%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: .5rem;" *ngIf="media.attachments.length > 0">
        <textarea class="caption" [(ngModel)]="media.caption" placeholder="Edit description"></textarea>
    </div>
    <div class="big-preview mat-elevation-z1" *ngIf="media.attachments.length > 0" mat-ripple>
        <img class="big-preview-thumbnail" src="{{media.attachments[media.selectedAttachmentIndex].uri}}" alt="preview-big">
    </div>
    <div style="margin-top: .75rem; padding: .5rem;" *ngIf="media.attachments.length > 0" fxLayout="row" fxLayoutAlign="space-between center">
        <mat-slide-toggle (change)="change($event)" [checked]="media.coverAttachmentIndex === media.selectedAttachmentIndex" [disabled]="media.attachments.length === 1">Set as cover</mat-slide-toggle>
        <button mat-button *ngIf="uploader.queue.length > 0 && !uploader.isUploading" color="primary" (click)="createMedia()">SUBMIT</button>
        <button mat-button disabled *ngIf="uploader.queue.length === 0 || uploader.isUploading">SUBMIT</button>
    </div>
</div>
