textarea.caption {
    background: #efefef;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    border-radius: 2px;
    padding: .75rem;
    border: none;
    outline: none;
    width: 100%;
    resize: none;
}

.create-media-container {
    background: #fafafa;
    width: 450px;
    padding: .5rem;
    overflow-y: auto;
    max-height: 100vh;
}

.attachments-content {
    flex: 1;
    display: flex;
    overflow: auto;
    display: -ms-grid;
    -ms-grid-columns: min-content;
}

.attachments-container {
    display: flex;
    overflow-x: auto;
    width: 100%;
    box-sizing: border-box;
    min-width: min-content;
    width: -moz-min-content;
    width: -webkit-min-content;
}

.upload-attachment-button {
    position: relative;
    height: 75px;
    width: 75px;
    border-radius: 2px;
    margin-left: 12px;
    border: 1px dashed #d8d8d8;
    box-sizing: border-box;
    cursor: pointer;
}

.uploaded-attachment-mini {
    position: relative;
    height: 75px;
    width: 75px;
    border-radius: 2px;
    margin-left: 12px;
    box-sizing: border-box;
}

.attachments-container> :first-child.upload-attachment-button {
    margin-left: 0;
}

.uploaded-attachment-mini>img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.attachment-progress-container {
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    width: 75px;
    height: 75px;
    z-index: 999;
}

.progress {
    font-size: 17px;
    font-weight: lighter;
    position: absolute;
    color: white;
}

.big-preview {
    box-sizing: border-box;
    margin-top: .5rem;
    position: relative;
}

.big-preview:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.big-preview-thumbnail {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: bottom;
    border-radius: 2px;
}
